[2019-08-07 15:08] tobsecret opened #10 "Bounding boxes drawing cancels when drawing over the edge of an image"
# Expected behaviour
When drawing a bounding box or other marker over the edge of an image, anything drawn over the edge clips to the edge.
# Observed behaviour
When drawing a bounding box over the edge of an image, the drawing cancels. This makes it more difficult to label objects in the periphery of images, which is frequently where they will be in microscopy images.

[2019-08-08 15:16] victordibia opened #12 "Draw Bounding Box in Two Clicks"
It would be great to support a faster annotation scheme where a bounding box is drawn by two clicks (the first is the top left and second is the bottom right).

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/1547007/62715173-f583ca80-b9cd-11e9-984d-44185c6b78cc.gif)

[2019-08-08 15:50] SkalskiP commented on #12
Hi @victordibia ,
I have to admit, I don't fully understand. At this point, you can do it with one click. Additionally, it doesn't matter if you start from the bottom to the bottom or from the bottom to the top. Why do you think that the current solution is not optimal?

[2019-08-09 09:48] OlafenwaMoses opened #13 "Exporting annotations to Pascal VOC XML"
First, this is a very remarkable project and I am looking forward to it making significant improvement in the image annotation experience.

It will be great if support for exporting annotated data to **Pascal VOC** XML can be provided. See the links below for example blueprint of the format.

https://gist.github.com/Prasad9/30900b0ef1375cc7385f4d85135fdb44

https://github.com/AndrewCarterUK/pascal

[2019-08-10 11:21] victordibia commented on #12
You are right.
With a mouse, the bounding box operation can be performed fluidly with a **click**, a **drag** (click button held down), and a **release** ( event complete, bounding box is created at the end of the drag)

For a user on a laptop with a trackpad, the process is slightly more complicated. The drag operation requires first a click, which has to be held down with one finger while the po

[2019-08-10 22:13] SkalskiP commented on #13
Thank you very much for your kind words. I will try to make sure that the enormous potential of this project will be used. The task seems pretty simple. However, I am wondering about the values in the fields: folder, path and database. They can hardly be hardcoded, they must be received from the user?

[2019-08-11 09:27] OlafenwaMoses commented on #13
The **folder**, **path** and **database** are **meta data** of the annotation.

- **folder**: This is used to identify the folder in which an image is present on the system in which the annotation was performed. Considering your's run in-browser You can generate a value here based on the title for their project.
- **path**: This is the full path of the image on the system. You can just specify the

[2019-08-11 21:53] SkalskiP commented on #13
Then the path and the database are clear. As for the folder - at the moment the user does not define the name of the project, in this situation it is worth to define something like this?

[2019-08-11 22:13] SkalskiP commented on #13
I'm gonna work on this task now.

[2019-08-12 09:57] OlafenwaMoses commented on #13
Since it is a meta data, you can use a default value for the folder property.

[2019-08-12 10:15] SkalskiP commented on #13
I decided to put in the top navigation bar input, where you can define the name of the project. Perhaps this functionality will be useful in other situations.

[2019-08-13 09:31] rebotnix opened #15 "Add and rename Labels after creating"
It would be great when we can add new labels after creating a new project or that we can rename existing labels during the labeling process. This is not an issue, more a feature request.

[2019-08-13 09:41] SkalskiP commented on #15
@rebotnix, you just want to be able to change the names of already created labels? Or do you want to be able to edit the entire list? So you want to add, remove labels and edit names?

[2019-08-13 11:59] rebotnix commented on #15
@SkalskiP yes, add, remove labels and images would be very useful.

[2019-08-13 12:17] SkalskiP commented on #15
@rebotnix I talked about it on Twitter today, I don't know if it's you or anyone else. The idea itself is very good and was originally in the range that was supposed to be in the alpha version, but due to the fact that other key functionalities took too long to complete, they were removed.

- Expanding the dataset with new images is quite simple and should be feasible without any problems.
- Editi

[2019-08-13 20:29] SkalskiP commented on #13
@OlafenwaMoses The functionality is already on the develop version. It will come with the next release. It can be tested on a test instance: https://develop.d2e9l8xwkaodsq.amplifyapp.com/

[2019-08-14 06:41] mmortazavi opened #16 "Windows 10 Requires normalize.css!"
Thanks for the great tool; well-done, and I will be looking forward to trying out new features.

One note for Windows 10 Users. After following the instructions and successfully installing the make-sense I couldn't view it in the browser (e.g. Google Chrome). Basically `npm start` in Windows 10 Ubuntu results in the following error in the browser:

Error: Cannot find module '@csstools/normalize.cs

[2019-08-14 07:15] SkalskiP commented on #16
@mmortazavi For clarity, you're talking here about running locally on Windows 10 by the Ubuntu bash console?

Thanks a lot for the information, I admit that the whole application has been developed so far on Linux and Mac, and so far, on Windows 10, we were running only the online version.

[2019-08-14 07:41] mmortazavi commented on #16
Yes, exactly.

Noted. Thanks for sharing your work.

[2019-08-14 07:50] SkalskiP commented on #16
@mmortazavi Great, I understand everything. In this situation, I will put an appropriate note in README.md. As I understand, simple `npm install normalize.css --save` is all you need to solve the problem?

[2019-08-14 08:06] mmortazavi commented on #16
Well, you know when you wanna make something work you try different things. The only step that was preceded before `npm install normalize.css --save` was to upgrade npm to the latest, whether it was relevant, I am not sure (your judgement, I found out about upgrading in another project repo):

`npm install -g npm@latest`

And restarted the system for changes to be effective, somewhere it was sugge

[2019-08-14 08:28] SkalskiP commented on #16
Sure, I've been in a situation like this more than once or twice. In my opinion `npm install normalize.css --save` addition should be enough. Once again, thank you very much for drawing attention to these problems!

[2019-08-14 08:33] OlafenwaMoses commented on #13
Great work you have done on this @SkalskiP . I just tested it and the experience is great.

[2019-08-14 08:34] OlafenwaMoses commented on #13
Make sure to promote this tool via tutorials on Medium as well.

[2019-08-14 09:18] SkalskiP commented on #13
I am very happy that everything works as expected. If you have any more ideas on how to improve makesense.ai, I encourage you to create issues. As I said, the functionality will be in the application with the next realase. This should be soon, but I do not have any rigid date.

As for the tutorial on the Medium, you don't have to persuade me. I haven't written in a long time and I would love to ch

[2019-08-14 09:19] SkalskiP commented on #10
@tobsecret Today I am starting to develop on this issue. I'll keep you posted on the progress.

[2019-08-14 09:32] SkalskiP commented on #16
The information has been added to [README.md][1] in the develop version and will appear in the master with the next releas. It's visible in the section: Set Up the Project Locally.

[1]: https://github.com/SkalskiP/make-sense/blob/develop/README.md

[2019-08-14 09:32] #13 closed

[2019-08-14 10:24] OlafenwaMoses opened #17 "User tour & guide"
The experience of the project is great. For improvements, I am thinking it will be good to have a tour prompt that displays next to the important actions, especially as it concerns the following:

- **Adding Labels**: A prompt next to the **+** button and disappears once user clicks on the button
- **Project Title**: A prompt on setting the project title, disappears once user click to edit
- **Exp

[2019-08-14 11:15] SkalskiP commented on #17
@OlafenwaMoses Thank you for another great idea. Such a trip could definitely help new users in particular. Surely I would like to have this feature in the application. However, this is something that will probably land a little further in the timeline. There are some features that I really care about. First of all labeling with polylines and keyboard shortcuts.

[2019-08-14 14:53] tobsecret commented on #10
Awesome, thank you!

[2019-08-15 10:30] jimbot10 opened #18 "is this make sense AI a fully self hosted solution ?"
is this make sense AI a fully self hosted solution i.e. it can all be run locally?

Thanks

[2019-08-15 10:52] SkalskiP commented on #18
Hi, @jimbot10  yes, that's right. You can use Make Sense in two ways:
- Online: on https://makesense.ai
- Offline: Starting the application according to the following instructions:

[code]

[2019-08-15 11:11] jimbot10 commented on #18
Thanks, good stuff.

[2019-08-15 11:11] #18 closed

[2019-08-15 12:22] SkalskiP commented on #10
@tobsecret Snapping rectangles and points to the edges of the photo is now available in the developer version. If you have time to see the results of the work, you can test them on: https://develop.d2e9l8xwkaodsq.amplifyapp.com/

[2019-08-15 20:03] tobsecret commented on #10
That looks awesome! Just how I thought it should be :ok_hand:
When you make the polygon, it would also make sense for a newly drawn point to snap to the edges if drawn over the edge.

[2019-08-15 20:03] #10 closed

[2019-08-15 20:35] SkalskiP commented on #10
Thanks, too, I think the new behavior is much better than the existing one. It is incomparable!
That is my plan - to maintain consistent behaviour for all types of labels. Polygon will be the most complicated so far, but I will try my best.

[2019-08-15 21:11] rebotnix commented on #15
@SkalskiP I fully understand. Maybe it´s possible to resort the whole array with a progress box when it takes longer to rename. In the long term of this application, it makes all sense to use a database as backend and a project selector as the first login. I think you want to make the tools as small as possible and I like the idea of database-less server application for labeling.

I´a c++ programm

[2019-08-18 01:01] TheDeathConqueror opened #23 "How is this application different from other opensource applications?"
I'm the user of another opensource image labeling application https://github.com/NaturalIntelligence/imglab.

I noticed that the number of stars to your application are increasing every day quickly. But I found that this application is the kind of subpart of https://imglab.in (feature-wise). So am I missing something? or do we need to put the effort to create another image labeling tool?

[2019-08-18 08:21] SkalskiP commented on #23
@TheDeathConqueror  In my opinion, the appearance of a tool that does something similar in a different way is always beneficial. It makes us all try to improve what we have created and take inspiration from it. The imglab is an interesting tool that does many things well.

You're absolutely right, at the moment - makesense.ai has fewer feathers than, for example, imglab. It's worth remembering, ho

[2019-08-18 16:40] TheDeathConqueror commented on #23
I use it for one of my projects. I didn't understand the part you mentioned about multiple clicks. Because as I remember, I used the mouse to create the labels only. Rest I controlled from the keyboard.

Though I'm not the right person to comment, but I thought that the combined effort from both authors would have result something better.

[2019-08-18 16:40] #23 closed

[2019-08-19 19:22] SkalskiP commented on #15
@rebotnix I have decided that we will implement this issue in stages. The first step will be to add new photos while working on the project. I will start working on this part right now.

[2019-08-27 06:39] hitautodestruct commented on #17
Just adding my 2 cents here, How about adding a practical example (even just in the readme) to explain what the benefit is of this app?
I am not quite certain I understand the practical value of this app? Is there anything automatic this gives me besides a csv output?

[2019-08-27 07:13] SkalskiP commented on #17
@hitautodestruct  I think that in the near future I will start preparing articles on Medium, showing how to use makesense.ai to prepare a dataset for model training. Parallel to the development of UI and the addition of various functionalities facilitating the work with the editor, some AI functionalities are being developed. They are supposed to support the work with the editor.  I hope that they

[2019-08-27 07:47] SkalskiP commented on #17
@hitautodestruct
In total, we have a few ideas for automating the labeling process:
- We are thinking about placing ready-made, trained models (transferred to JS), which would of course be able to recognize only a set of classes selected in advance. I wonder if such a solution makes sense. It may be useful if our user has a data set with objects, some of which would be supported by us. Then we wou

[2019-08-27 13:01] bilylee opened #32 "[feature request] load existing annotations"
**Is your feature request related to a problem? Please describe.**
re-edit existing annotations

**Describe the solution you'd like**
add an import button to load existing annotations

**Describe alternatives you've considered**
No

**Additional context**
No

[2019-08-27 13:37] sagar-g-v opened #33 "zoom and pan image to see object clearly"
-add option to zoom in and out of image
-this will help in creating more accurate annotation

[2019-08-27 20:23] SkalskiP commented on #33
I totally agree. This is one of the features that are at the forefront of what I want to introduce. You can expect to see the zoom feature in the editor in the near future. Thanks so much for making an issue about this.

[2019-08-27 20:25] SkalskiP commented on #32
@bilylee As an explanation. Would you like to be able to import photos with labels so that you can make some changes and re-export them?

[2019-08-28 02:25] bilylee commented on #32
For example, given a list of images, objects are first detected via a pretrained detector. Then, these detections are loaded in the make-sense tool and manually refined.

For now, there is an export button for exporting annotations. I would like an import button that load existing annotations. It is not necessary to load both images and annotations at the same time, we can first load images and th

[2019-08-28 06:42] SkalskiP commented on #32
@bilylee Then the title of issue does not fully reflect what you have described now. Because from what I understand, a few things have been mixed up here. And to be quite honest, we are working on each one of them.

* **Loading existing annotations** - which in my opinion means that you already have a labelled images, for example in VGG format. In this situation, the user uploads files to the brow

[2019-08-28 19:08] gdj0nes opened #35 "Polygon Spec"
Polygon's should implement follow the standard polygon [spec](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry). Doing so significantly reduces the complexity of etl on polygons because they will be valid in libraries like shapely

[2019-08-28 19:13] SkalskiP commented on #35
hi @gdj0nes ! Could you elaborate a little bit on what you have in mind? You mean that makesense.ai should offer export in this format?

[2019-08-28 19:50] SkalskiP commented on #35
@gdj0nes I partly agree with you and partly disagree. Or (perhaps) I still don't fully understand what you mean. As far as export data structure is concerned, we are planning to support file formats that already function as a way to describe polygons in ML-related tasks. Such as VGG or COCO. They have a predefined structure. We can of course follow these rules in the case of CSV file, which has th

[2019-08-28 23:15] yyuuliang commented on #16
hi
can u give the local environmental setting? I installed npm and try to run, still have the same error
Cannot find module '@csstools/normalize.css'

[2019-08-28 23:55] yyuuliang commented on #32
I also think the ability to edit existing annotations is important. That is the first one on your list, "loading existing annotations", thanks

[2019-08-29 00:09] yyuuliang opened #36 "If there is only points annotation, the exported csv contains nothing."
**Describe the bug**
A clear and concise description of what the bug is.
I load an image, make points annotation, then export the csv file. There is nothing inside the csv file.
I then draw a bounding box on the same image, then export the points. This time the csv file contains the points locations.

**To Reproduce**
Steps to reproduce the behavior:
1. Load an image
2. make some points annotation

[2019-08-29 00:13] yyuuliang opened #37 "No file name in the csv file if more than 1 images in the project"
**Describe the bug**
I loaded two images in the project, make annotations on both images, then export the csv file. There is no file name in the csv data, so it is impossible to tell which points locations belongs to which image

**To Reproduce**
1. Load two images
2. Make points annotations
3. Export as csv file

**Expected behavior**
There should be a filename column in the csv file. Like this:

[2019-08-29 05:08] mmortazavi commented on #16
Did you install `npm install normalize.css --save` as well?

[2019-08-29 06:41] SkalskiP commented on #36
Hi @yyuuliang I have verified and of course you're right. The error will be corrected in the near future, as it has high priority.

[2019-08-29 07:09] SkalskiP commented on #37
Hi @yyuuliang ! Thanks for reporting. It seems that this is a problem associated with #36 that you have reported. Point export only from files where you have a rect defined. Both problems will be fixed in the near future. As for the file name, it is given in every line of the CSV file. Simply because of what I wrote above, you managed to export only labels for one photo.

lane1,217,556,`01080.jpg`

[2019-08-29 07:12] SkalskiP commented on #32
I agree - it gives you the opportunity to:
- return to the project you were working on
- verify that your labels are correct
- possibly transform to another format.

In this situation I will try to add the possibility of importing ready-made labels.

[2019-08-29 15:20] SkalskiP commented on #16
@yyuuliang In your case, does this problem occur on Windows or Linux?

My settings I work with:
OS: Linux Mint 19.1 Tessa
brawser: Chrome 72
npm: 6.7.0
node: v11.10.1

[2019-08-29 15:24] SkalskiP commented on #36
The problem has been solved. The improved version of the application will be available on the production with the next release. Currently, the patches are available on the developer instance: https://develop.makesense.ai/ I would be very grateful if you could verify whether the effect is as intended.

[2019-08-29 15:24] SkalskiP commented on #37
The problem has been solved. The improved version of the application will be available on the production with the next release. Currently, the patches are available on the developer instance: https://develop.makesense.ai/ I would be very grateful if you could verify whether the effect is as intended.

[2019-08-29 22:49] yyuuliang commented on #36
I have verified this and it works now, thanks for the fix!

[2019-08-29 22:50] yyuuliang commented on #37
I have also tried this one, now I can get a complete csv list! thanks for the work!

[2019-08-30 01:31] zhreshold commented on #32
Is it possible to keep a state of the project when starting it locally using `npm`?
Currently when the page is refreshed, everything get lost(project configs, images, labels).
Also it would be awesome to start with some preset local projects with images already loaded for labeling.

[2019-08-30 07:42] SkalskiP commented on #32
Hi @zhreshold . First of all, I would just like to point out that your comment could easily become a separate issue. At the moment, makesense.ai does not have the ability to save the state of the application during the labeling process. This topic often appears in conversations - because a lot of people would like to have some possibility to saving. However, the problem is complicated.

Launching

[2019-08-30 07:55] SkalskiP commented on #37
You're welcome. Thank you very much for drawing attention to this problem. Keeping your application in a condition that allows you to use it is priority number 1. Task is for now `In Test` and I will move it to done, after another release.

[2019-08-30 07:55] SkalskiP commented on #36
Task is for now `In Test` and I will move it to done, after another release.

[2019-08-30 12:40] bourdakos1 commented on #32
@SkalskiP This probably isn’t the right place, but I’ve been following your project for a bit and I really like it. I’ve been working on a similar project: https://github.com/cloud-annotations

With my tool, all your projects are connected to an s3 bucket to sync images and annotations. However, I really like your stateless approach, as it gives users the opportunity to not be bound to a cloud pro

[2019-08-30 17:30] zhreshold commented on #32
@SkalskiP Thanks for the explaination. I now understand the technical limitation.
From the perspective of a user, this online tool is awesome in UI/UX and labeling exprience. However,  I wish the tool to be trustworthy to be able , i.e., resume my previous work whenever I want without worry about the accidental  loss of annatations for example crashing browser.

And the stateless project means I h

[2019-08-30 20:19] SkalskiP commented on #32
@zhreshold What a great idea for makesense.ai was born on a hackathon, when due to the lack of a good editor for labeling photos we lost a lot of time fighting with tools that had their limitations. Therefore, Make Sense was to become something that would allow you to quickly and dirty perform a huge amount of manual work without unnecessary configuration. I'm aware of his limitations. So far I've

[2019-09-02 12:18] RaccoonForever opened #39 "Custom export format"
For my personnal use I face the problem that I have to parse again the export file to modify it to have a format I use on my AIs.

I would like to choose on exporting file, the things I want to export and how I want it.
For example, I'm working on a project where my labels need to be on this format :
Filename.jpg x_min, y_min, x_max, y_max, class x_min2, y_min2, x_max2, y_max2, class2 etc... (if I

[2019-09-03 14:13] RaccoonForever opened #40 "Scrolling label"
I have 8 different labels.
When I add more than 20 (more or less, it depends on the screen) boxes on one image. If I add one more bounding box. I won't be able to scroll down to all labels. I'll be able to pick only first ones.

See the screenshot linked. I have more labels under wheat but I can't access them.
![make-sense](https://user-images.githubusercontent.com/4057852/64180789-ab272980-ce65-1

[2019-09-03 15:20] SkalskiP commented on #40
Hi, @RaccoonForever It seems that because a dopdown containing your labels is always placed below the record you are editing, there are some problems when the record is too low. And the dropdown can't fit. A possible fix should not be difficult. I think we will publish it with the next release. Thank you for drawing attention to this problem. I'll keep you informed of any progress.

[2019-09-03 15:26] SkalskiP commented on #39
Hi @RaccoonForever I admit it's a very interesting idea. So far I have never seen an editor allow it. Unfortunately, at first glance, we know that this is not a trivial problem and will require a lot of design before we decide to implement it. As you probably know, we also have a lot of other features that are important to us and have a higher priority. Thank you very much for your suggestion and

[2019-09-03 19:16] SkalskiP commented on #40
Hi, @RaccoonForever Improvements have been made. They are currently available on the developer instance. https://develop.makesense.ai/ I encourage you to test and possibly further comments. The patch will enter the production instance with the next release.

[2019-09-04 09:13] lukasy09 opened #43 "Visual bug"
**Describe the bug**
While using your app I have noticed the following visual bug(visible in the attached screenshot).
When the browser's download bar is visible and listing downloaded files, the image is partially covering the project's title and two texts are overlapping.
I hope it was helpful for the project

All the best, keep it going, never give up bye :)

**Screenshots**
![visual-bug-paint]

[2019-09-04 10:04] RaccoonForever commented on #40
Hello @SkalskiP.
Thanks for your answer and for your quick improvement !

It works like a charm on the test environment !

[2019-09-04 10:08] RaccoonForever commented on #39
I totally understand :) !

I thought it could be useful for some people. Nevertheless, I totally agree that there are more important features for now :D

If you want, I can help you on design/functionalities but not really on implementation. I'm bad at React :D

[2019-09-04 10:22] RaccoonForever opened #44 "Faster label writing"
As you seem to answer fast ^^, I've some minor improvements that can make user gain some time.

The first time I tried your application, I wrote my first label then I pressed "Enter", which does nothing I know :D
I was hoping it would add the next label input automatically without pressing the "+" button.

I see two alternatives :
- When the user press enter after writing its label, it adds anothe

[2019-09-04 15:16] SkalskiP commented on #43
Hi @lukasy09 ! Thanks so much for bringing this bug to my attention. We will try to make some fixes in the near future, so that they will be in the next release of the application.

[2019-09-04 15:18] SkalskiP commented on #39
@RaccoonForever Any help in developing such a complicated application is needed! If you have any ideas, feel free to create an issue and let us know what you've come up with!

[2019-09-04 15:19] SkalskiP commented on #40
Hi @RaccoonForever! I'm super happy to have managed to fix it!

[2019-09-04 15:24] SkalskiP commented on #44
Hi, @RaccoonForever! Indeed, I try to reply quickly and devote as much time as I can to makesense.ai. I admit that these are great ideas. As we are currently working on keyboard shortcuts and the whole mechanism that will manage similar functionality, this is a great time to think about it! As usual, an interesting idea and thanks a lot for sharing it.

[2019-09-04 16:10] SkalskiP commented on #43
@lukasy09  Patch is already on the development version of the application. You can test the changes on https://develop.makesense.ai/

[2019-09-04 16:13] pixelatedbrian commented on #32
Hi, thanks SkalskiP for making such a great tool.  I have noticed a couple of bugs, some of which crash the webpage during annotation and any work done is lost.  I have taken to periodically saving because of this issue but this won't help until we are able to load previous files and continue modifying.

Can you please prioritize this particular item because it will help alleviate the symptoms of

[2019-09-04 18:01] SkalskiP commented on #32
Hi, @pixelatedbrian! First of all, thank you very much for your kind words. They are a great motivation. Secondly, there is no denying that this functionality is currently one of the most requested. You can see it both because of how active is the discussion under this issue and by the number of upvots. In this situation we will certainly have to speed up the implementation of this mechanism. At t

[2019-09-04 18:06] SkalskiP commented on #36
Hi, @yyuuliang! Due to the large amount of bugs that we have managed to fix recently, we decided to make a small release marked with the tag `1.2.1-alpha`. The same applies to this issue, which is now available at https://makesense.ai

Happy Labelling!

[2019-09-04 18:07] #36 closed

[2019-09-04 18:07] SkalskiP commented on #37
Due to the large amount of bugs that we have managed to fix recently, we decided to make a small release marked with the tag `1.2.1-alpha`. The same applies to this issue, which is now available at https://makesense.ai

Happy Labelling!

[2019-09-04 18:07] #37 closed

[2019-09-04 18:08] SkalskiP commented on #40
Hi, @RaccoonForever! Due to the large amount of bugs that we have managed to fix recently, we decided to make a small release marked with the tag `1.2.1-alpha`. The same applies to this issue, which is now available at https://makesense.ai

Happy Labelling!

[2019-09-04 18:08] #40 closed

[2019-09-04 18:08] SkalskiP commented on #43
Hi, @lukasy09! Due to the large amount of bugs that we have managed to fix recently, we decided to make a small release marked with the tag `1.2.1-alpha`. The same applies to this issue, which is now available at https://makesense.ai

Happy Labelling!

[2019-09-04 18:08] #43 closed

[2019-09-05 15:28] Mut1nyJD opened #48 "And allow mixing paint brushing with polygons for segmentation masks"
It is great to see someone picking up the visual data annotation problem seriously.
However, you are obviously not the first one who has been trying that. I've tried and checked quiet a few data annotation tools in the past and I noticed they are all very weak if at best barely usable when it comes to doing segmentation masks.

As either they go one of the two potential routes:

*Only allow polygo

[2019-09-05 16:06] SkalskiP commented on #48
Hi, @Mut1nyJD ! Thank you so much for bringing this subject up. One of the ideas for further development of the application is the introduction of labeling by drawing the mask with a brush. I'm not hiding that I planned to implement this functionality in the form of a separate tab in the panel on the right, so as another "type" of label. If I understand your thought correctly, it would be wrong to

[2019-09-06 11:56] Mut1nyJD commented on #48
@SkalskiP Thanks for your comments. I don't say it is wrong but I think it would be better if you could mix the two, as using a pixel brush even if it is large is really tedious if you have to label large areas (lets say background) but marking it with a polygon is relatively quickly done.

Doing it the MSPaint way is a compromise I guess most people could live with personally I think it ia nicer

[2019-09-12 11:59] martarho opened #52 "Distributed, collaborative labelling"
I find labelling a very time consuming task, that's while a usual approach is to onboard more people to create both bigger datasets and consensus on labelled objects.

A way we could unite this with the current development of the tool is via creating a sort of "task" distribution, where a subset of the data can be added to a session and this sent to a specific labeler. That would free the need to

[2019-09-13 07:32] martarho commented on #52
Well, without a backend it's kind of hard, but let me explain a simplified version of what I meant and maybe that could be more feasible.

Disclaimer: I'm no frontend/backend developer.

Now, a way to simplify the request and adapt it to a front-end only project would perhaps be having makesense have an integration with an external API, so the queing/tasking end is on the user and makesense just h

[2019-09-13 11:08] nieszkodzi opened #53 "Save progress or uplode csv labels"
In my team we are searching for some good labeling stuff and we finally found make-sense. It is very nice looking, easy to use tool, but I have some problems with it.

1. Is there any solution for saving project progress or (better) loading file with image names and labels just to keep labeling after restart of computer?

2. Is there (or will be) any solution for sharing work with many people labe

[2019-09-13 11:10] nieszkodzi commented on #16
Now I updated node to v12.10.0 and npm to 6.10.3, delete all repo, cloned it again, made all instructions one more time and it's working :)

[2019-09-13 14:56] SkalskiP commented on #16
I'm very pleased to hear that! Then add to README the information that such versions are required to ensure proper local operation.

[2019-09-13 17:42] SkalskiP commented on #53
@nieszkodzi! First of all, thank you very much for your kind words. I try very hard to make makesense.ai as simple and comfortable to use as possible. As far as your questions are concerned, we have a lot of things on the agenda and I am not hiding that the ideas you mentioned have already been discussed in other issues. And these are very good ideas! But there is but...

Originally makesense.ai w

[2019-09-14 20:04] SkalskiP commented on #16
I have added a new description to README, in this situation I am closing the issue again.

[2019-09-14 20:04] #16 closed

[2019-09-14 20:08] SkalskiP commented on #33
Hi @sagar-g-v! Zoom in/out has been added to makeense.ai! For now it is available on the developer instance - https://develop.makesense.ai/, but soon it will be possible to use this option also on the production. Happy labelling!

[2019-09-14 20:08] #33 closed

[2019-09-15 14:50] bruzat opened #57 "README.md"
Hi,

You have two Citation part in README.md

[2019-09-15 14:54] SkalskiP commented on #57
Hi, @bruzat! Thank you. I have already fixed that.

[2019-09-15 14:54] #57 closed

[2019-09-17 09:48] bruzat opened #58 "freeze when make annotation in max zoom"
**Describe the bug**
The tool is very slow when we zoom in and make bounding box.

**To Reproduce**
Steps to reproduce the behavior:
1. upload images
2. zoom max in image
3. make bounding box

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows 10 pro
 - Browser modzilla firfox
 - Version 69.0 (64 bits)

**Smartphone (please complete the

[2019-09-17 11:13] SkalskiP commented on #58
Hi, @bruzat! I just did some tests on Firefox and it seems that this browser has some problems with rendering larger photos. We will investigate this problem and look for potential optimizations. In the meantime. I already have some ideas for improvements, but they will take some time to implement.

I recommend to switch to Google Chrome - no problems there. Everything runs smoothly.

[2019-09-17 11:56] bruzat commented on #58
Thank, it's for make you a feedback. it's very good tools.

[2019-09-17 14:07] SkalskiP commented on #58
@bruzat thank you for drawing my attention to this problem and for your kind words.

[2019-09-23 16:02] RaccoonForever commented on #39
Hey @SkalskiP
I did a tool in python to do what I asked you in this issue :). It doesn't handle VGG for now, but single CSV file and VOC format.
At least it works for my purpose on Yolov3.

https://github.com/RaccoonForever/make-sense-ai-label-format-converter

[2019-09-23 21:15] SkalskiP commented on #39
Hi @RaccoonForever ! Yeah, that's great. I am very happy that you decided to do the same thing. Thanks to this, I will be able to use your experience when I face this task myself in makesense.ai

[2019-09-26 17:29] stobias123 commented on #44
@SkalskiP  - anywhere we can see progress on keyboard shortcuts? Using 1-9 to select label, then drawing label and submitting would be a huge improvement.

Lack of this ability (and thus speed) is the one thing stopping me from using the platform.

[2019-09-27 06:09] SkalskiP commented on #44
Hi, @stobias123! Yes, we want to speed up the process of labeling already created rectoms/points and polygons. Probably in a slightly different form than you suggested:
- At the beginning you will draw a rectangle (for example) - its label will be set by default to the last label you added
- When you finish drawing, your focus will be automatically set to label dropdown
- You will be able to eithe

[2019-09-27 07:35] SkalskiP commented on #15
Hi @rebotnix! This issue is coming to an end. On the develop branch and on the developer instance https://develop.makesense.ai/ this functionality is now available. And with the next release it will be added to the application.

[2019-09-30 13:09] ahmedbesbes opened #69 "Is it possible to programatically (via Python for example) to upload pictures to Make Sense?"
This would be part of an automated computer vision project

[2019-09-30 19:17] SkalskiP commented on #69
Hi @ahmedbesbes! I am afraid that in order to answer your question properly, I must first understand what it is all about and get to know more details.

[2019-09-30 19:31] ahmedbesbes commented on #69
Hello @SkalskiP ,
Sorry, I should've detailed a little bit more.
So basically what I want to do is create a pipeline a for building an object detection custom dataset.
I imagined this in the following steps:

- fetch images for each class from google api
- store the images locally in appropriate folders (with the right naming for later training)
- automatically upload these images to makesense
- a

[2019-09-30 22:25] SkalskiP commented on #69
@ahmedbesbes, I looked at your project. I am very pleased that you are planning to develop it around https://www.makesense.ai It is very motivating.

When it comes to this type of functionality, I have a plan in the future, embed MakeSense inside the Docker and add to it a backend written in Python. I am aware that the application written only and exclusively in JS has its limitations. However, th

[2019-10-01 06:56] ahmedbesbes commented on #69
@SkalskiP Thank you! Here's a demo: https://youtu.be/qXLvMr9mrP4

I'm looking forward to hearing about new features.

Good work!

[2019-10-01 07:25] SkalskiP commented on #69
@ahmedbesbes, today we made the next release. I recommend to see the new functionalities.

That's great! You surprised me that such a thing is possible at all!!

[2019-10-01 07:25] #69 closed

[2019-10-01 07:26] #15 closed

[2019-10-02 07:26] samarthsarin opened #72 "Polygon Annotation not getting downloaded"
Hi,

I am annotating a new image using Polygon Annotations. But when I am downloading the images with Yolo format it's not downloading the .txt file for the image in which I have annotated with polygon boxes.

Thank you

[2019-10-02 07:42] SkalskiP commented on #72
Hi, @samarthsarin! In order to understand the problem correctly, I have to ask for a few details. I understand the problem is that you've created polygonal labels, but can't see them in the YOLO downloads?

[2019-10-02 09:45] samarthsarin commented on #72
Yes thats the issue

On Wed 2 Oct, 2019, 1:12 PM Piotr Skalski, <notifications@github.com> wrote:

[2019-10-02 12:16] SkalskiP commented on #72
Well, it's not an issue. This is very correct behaviour. YOLO format supports rectangles, not polygons. So if you are creating a labelz in the rects tab you can expect that it can be downloaded in YOLO format. If you have created polygons in prompt Export Labels you should select the polygon on the left and exsportport it in VGG format.

[2019-10-03 14:46] skysuka commented on #52
it's a great idea, i have been working on this recently~

[2019-10-03 16:46] ssakhavi opened #73 "Pre-Annotation Data Cleaning"
**Is your feature request related to a problem? Please describe.**

Before the process of annotation, I believe many people go through the process of data cleaning: things like image-level labels (brightness, image quality,...). Furthermore, there might be a need to crop the images with a certain aspect ratio with a certain scale for the image.

**Describe the solution you'd like**
Having a labeli

[2019-10-04 06:37] SkalskiP commented on #52
@martarho and @skysuka I agree with you - enabling joint work on labelling is a powerful functionality. It seems to me, however, that doing something like this without a dedicated backend is difficult / not possible. The @martarho (I'm sorry I didn't reply faster - I didn't notice the answer.) proposal in fact requires a backend. The only difference is that the backend is not provided by MakeSense

[2019-10-04 06:43] SkalskiP commented on #73
Hi @ssakhavi I understand that in this situation, when we download labels, we will also have to download a whole package of photos? Because the training should take place on new (edited) photos?

[2019-10-04 07:18] ssakhavi commented on #73
By right, the training should be done on the edited photos, yes.

[2019-10-04 09:30] SkalskiP commented on #73
@ssakhavi I am sceptical about such solutions for (at least) two reasons:
* This approach is "sufficient" if we are only talking about crop, but what about rotation? What about CV operations like filters, binarization or other potentially useful operations?
* I want MakeSense to be as intuitive as possible. Exporting a photo is obvious for the user. Nobody has to guess what kind of information was

[2019-10-04 09:32] #72 closed

[2019-10-05 11:50] ssakhavi commented on #73
Yes. Exporting the image is the most obvious way. You're right.

On Fri, 4 Oct 2019, 17:30 Piotr Skalski, <notifications@github.com> wrote:

[2019-11-14 12:17] Mut1nyJD opened #75 "Keep keypoints when moving to the next image"
For keypoint/landmark annotation I think it would be great if the editor area would keep the keypoints from the last image when moving to the next one. As most of the times you want the same number of keypoints but you have not only recreate all the points but also assign the labels this is very cumbersome when you have many points lets say more than 10. If you already have all the label assigned

[2019-11-16 16:54] SkalskiP commented on #75
Hi, @Mut1nyJD ! I am aware of the problem and it does not only concern landmarks but also, for example, the rects. However, my idea for a solution is quite different. What do you think about adding a mechanism for copying and pasting labels? I think it's a much more universal approach. Allows you to duplicate labels between slides but also within a single slide.

[2019-11-17 09:50] Mut1nyJD commented on #75
@SkalskiP  I guess that would at least elevate the problem a bit yes but it still are at least two additional clicks or keyboard interactions you would have to do every time. When you annotate 100s of pictures each click you do notice.

[2019-11-17 13:38] SkalskiP commented on #75
@Mut1nyJD, Of course you're right, every click when you have to label hundreds of photos is noticeable. But... Building such applications requires compromises. That's how I see it:
- At this point, you have to do all the work to label each photo. Create a landmark, set it, and select a label from the dropdown and so on..
- In the new solution, you could select multiple labels at once, simply with

[2019-11-17 22:09] Mut1nyJD commented on #75
@SkalskiP

Yes of course I have a biased view on the problem because I tried to use your tool for a current annotation task but abandoned it in favor of hacking together a solution of my own because the workflow is at least five times more efficient. The question you have to ask yourself with your tool what type of jobs are you trying to target. Are you expecting people to annotate a few tens, a f

[2019-12-06 22:46] ahmedbesbes opened #76 "Add statistics about the labeled objects"
It'd be useful to see some running statistics like the number of labeled objects in each class.
When i'm labeling i always want to have these numbers in mind.

I found that labelbox (another labeling online tool) has this kind of statistics:

<img width="1149" alt="Capture d’écran 2019-12-06 à 23 43 27" src="https://user-images.githubusercontent.com/6267065/70361565-50e19e80-1882-11ea-95aa-f0377

[2019-12-06 23:15] ahmedbesbes opened #77 "Drop images"
Would it be possible to drop some noisy images from the dataset?

[2019-12-10 10:01] SkalskiP commented on #76
Hi, @ahmedbesbes! Super idea. For the sake of the university, I had to stop working on MakeSense for a while. But in February I'm going to return to development.

Your idea looks very interesting. What's more, I also like to be aware of these numbers when I prepare a dataset.

[2019-12-10 10:04] SkalskiP commented on #77
Hi, @ahmedbesbes! We don't have this functionality yet. But you can expect it to enter MakeSense in the next development round. At the moment I only have hint that if you don't make labels for a given photo then you won't be exporting any file that would concern it. This is not deletion.... I know. But at least you don't have garbage.

[2020-01-22 07:39] herruli opened #80 "export csv format can match for Google's Automl?"
Hi, I am trying to use make-sense for my own object detection project. Yet, when I want to upload the csv to Google Cloud. It seems like not really supporting. Just wondering if a new feature can add to export format fits GCP/ AWS? Thanks

[2020-01-22 13:46] davidggphy opened #81 "Image classification option"
The tool is great, but the object detection utility is an overkill for image classification.
Are you gonna add the possibility to use make-sense for image classification.

Thanks for the great work!

[2020-01-22 22:00] tfriedel commented on #12
there's also this idea where instead of drawing a bounding box you click on four extreme points of the object (left, right, top, bottom). this is supposedly faster than drawing the box if you care about a tight box. here's a paper about the technique: https://arxiv.org/abs/1708.02750

[2020-01-23 08:36] SkalskiP commented on #80
Hi @herruli, Of course, you can count on importing our CSVs into GCP/ AWS. I suppose this is a small change. Do you have any details of the error? Do you know what caused the error during import?

[2020-01-23 08:51] SkalskiP commented on #81
Hi @davidggphy, Thank you for your kind words about MakeSense. As you can see, just before entering the editor, the choice between Image classification and Object detection appears. Of course, this choice is an illusion at this point, because the Image classification button is inactive. But we're about to start working on the MakeSense beta version. Image classification for 100% will be part of th

[2020-01-23 08:53] SkalskiP commented on #12
Hi, @tfriedel. You think this new/alternative labeling option makes sense?

[2020-01-23 09:01] herruli commented on #80
As https://cloud.google.com/vision/automl/object-detection/docs/quickstart-ui#preparing_a_dataset  stated. It's bounding box is in between 0 and 1. Where make-sense used pixel location to label. Also, Google has a four point annotation maybe it's also a nice feature to add?

[2020-01-23 09:19] SkalskiP commented on #80
Thank you for sending me the link to the documentation. As I expected, the changes that need to be added to ensure the ability to import data created in MakeSense to Google Automl seem simple. I don't want to promise anything, but maybe I can write it in a few days. As far as this form of labeling is concerned, we already have an issue on the subject:  https://github.com/SkalskiP/make-sense/issues

[2020-01-23 09:26] herruli commented on #12
Google AutoML is adopting both two points and four points bounding box. It's own labeling tool used four points.

[2020-01-23 13:04] tfriedel commented on #12
I think it makes sense. If you really want to have a tight bounding box
it's easier. Otherwise you will start in some corner and you later have to
correct the box.

herruli <notifications@github.com> schrieb am Do., 23. Jan. 2020, 10:26:

[2020-01-23 15:07] bourdakos1 commented on #12
I think another alternative to 4 point bounding boxes is the extended cross-hair. That way you can quickly determine 2 extremes points at once. The quickness/tightness of 4 point, but with the added speed boost of only clicking twice:

![extended cross-hairs](https://user-images.githubusercontent.com/4212769/72995894-b0125880-3dc7-11ea-91e4-f800c8aff117.png)

[2020-01-23 15:19] tfriedel commented on #12
that might be even better!

[2020-01-25 10:27] SkalskiP commented on #12
You know what's funny about it? In earlier versions of MakeSense we had an extended cross-hair. You think that would be helpful?

Plus, I saw a cool feature. What do you think about those crops that are cut out of the image and then listed in the right panel?

[2020-01-27 08:42] JorgeCeja opened #82 "Enable persistent state"
**Is your feature request related to a problem? Please describe.**
Problem: All progress is cleared when reloading the page, which equals bad user experience.

1. I have been trying to implement persistent state with `redux-persist` but I have run into this problem:
"TypeError: Cannot read property 'width' of null"
[code]
2. While getting comfortable with the codebase it seems there might work to

[2020-01-27 18:02] SkalskiP commented on #82
Hi, @JorgeCeja! First of all, thank you for your involvement and for trying to solve problems in MakeSense. Of course, I'm aware of the problem. We've already considered several options for solving it. I haven't had a chance to see your fork yet, but I'll do it soon.

But, as for the error you're facing, I think the point is that not the whole state of the application is stored in `redux`, because

[2020-01-31 22:16] JorgeCeja commented on #82
Hey @SkalskiP,

After investigating the issue further, the actual issue appears to be reloading the images. The error I shared ("TypeError: Cannot read property 'width' of null") only happens after adding labels to an image. The reason is that the image data in memory is lost when reloading the image because it hasn't been implemented yet.

If you can take a look and implement image reloading it w

[2020-02-11 13:35] aquadzn opened #83 "Is it possible to use your own YOLOv3 model instead of COCO SSD"
Hello,

Thank you for your great tool.
I used it to annotate my images for object detection (rectangles) and then trained a YOLOv3 model using the Darknet repo.

Now, is it possible to add my own model, idk by modifying some tensorflow.js (uploading my model to tfhub ?) code in my fork of this repository and use my own model to annotate other images more easily?

thanks

[2020-02-11 22:47] SkalskiP commented on #83
Hi, @aquadzn! I understand your model is already converted to TensorFlow?

[2020-02-11 23:28] aquadzn commented on #83
no but I could use https://github.com/jinyu121/DW2TF or https://github.com/thtrieu/darkflow to get a .ckpt/.pb file

[2020-02-12 10:37] SkalskiP commented on #83
Okay. So I think it's possible. Except, as you can see, the road is not straight. Because you have to go Darknet -> TF -> TF.js. But once you've got that interference inside the tool, it's possible. Only you will have to do a fork repo of course to add it yourself... :/

[2020-02-12 10:40] aquadzn commented on #83
ok, does your code somewhere specify the names of the classes or the number of classes for COCO-SSD?

[2020-02-12 10:52] SkalskiP commented on #83
No, everything is provided by tensorflow-models/coco-ssd
https://github.com/tensorflow/tfjs-models/blob/master/coco-ssd/src/classes.ts

[2020-02-14 21:58] #83 closed

[2020-02-16 00:06] TKassis commented on #77
I have a related suggestion. I'd like to be able to include a skipped image in the export. A few object detection models I'm using accept negative images (i.e. images with no objects of interest). Is this possible?

[2020-02-24 11:56] animebing opened #84 "what should I do if I want to get line annotation?"
Thanks for providing such an annotation tool. In my project, I am trying to annotation line, but I find there isn't the option, would you mind telling me what I should modify or add in the current code base to support this idea?

[2020-02-24 17:14] makamkkumar opened #85 "localhost:3000 is not working"
npm start

Attempting to bind to HOST environment variable: x86_64-apple-darwin13.4.0
If this was unintentional, check that you haven't mistakenly set it in your shell.
Learn more here: https://bit.ly/CRA-advanced-config

dyld: lazy symbol binding failed: Symbol not found: _FSEventStreamCreate
  Referenced from: /Users/makamkirankumar/Downloads/make-sense/node_modules/chokidar/node_modules/fsevent

[2020-02-26 10:29] SkalskiP commented on #85
@makamkkumar Could you give me a version of the npm and node you use? I want to reproduce your environment.

[2020-02-26 10:30] SkalskiP commented on #84
@animebing Perhaps you and I could work together? To add such functionality to MakeSense?

[2020-03-01 14:53] herruli opened #86 "COCO Format suppport"
Just asking whether it will support COCO format in the near future? As Detectron2 is supporting COCO format.

[2020-03-01 15:47] RolfLobo commented on #76
@SkalskiP I would like to contribute to this idea if you don't mind. :)

[2020-03-01 19:45] SkalskiP commented on #76
@RolfLobo would you like to implement this task?

[2020-03-01 19:46] SkalskiP commented on #86
Hello @herruli :) I think so, but which type of label would you like to have exported? Rects or something else?

[2020-03-08 16:55] alexstorer commented on #85
I get this bug too, just running `create-react-app`.  You can change your environment variables for the first bug here:
https://medium.com/@choy/fixing-create-react-app-when-npm-fails-to-start-because-your-host-environment-variable-is-being-4c8a9fa0b461

I'm not sure what's up with the second bug, but I've tried different versions of the `fsevents` package, and that didn't work.

[2020-03-11 07:19] SkalskiP commented on #85
@alexstorer what version of node and nvm do you have?

[2020-03-12 09:53] kavyasoni commented on #85
node: v13.10.1
npm: 6.14.2

[2020-03-12 17:38] SkalskiP commented on #85
As stated in our `README.md` the suggested environment is npm `6.x.x` and node.js `v11.x.x`. Could you set up this environment and then run MakeSense locally?

[2020-04-06 19:00] vjsrinivas opened #87 "Tooltips for action bar buttons"
Hey, first off, thank you for putting in the time to create this great tool. I do have a **very** small feature request - I think adding tool-tips for the top action-bar buttons would help with usability (especially with the accept/reject all buttons).

[2020-04-18 12:26] #85 closed

[2020-04-28 15:21] smitheric95 commented on #32
Hi,

Are there any plans on implementing this feature soon?

Fantastic tool btw!

[2020-04-30 19:18] satkhan commented on #85
For

just append the entry of localhost (if present) in /etc/hosts for
**127.0.0.1    localhost   x86_64-apple-darwin13.4.0**

[2020-05-10 15:32] aafaqin opened #88 "how do i create tf record file from csv. if someone knows any script please do share"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-05 08:08] sreevardhanreddi commented on #84
@SkalskiP I am interested in implementing the line annotation, could you explain how the events and labels are tied together?

[2020-06-05 10:54] SkalskiP commented on #84
@sreevardhanreddi would you like to contribute to MakeSense?

[2020-06-05 10:57] sreevardhanreddi commented on #84
@SkalskiP Yes!!, I will be glad to contribute

[2020-06-05 20:02] SkalskiP commented on #84
Sounds great! Is there any popular format of line labels?

[2020-06-06 05:31] sreevardhanreddi commented on #84
I didn't find any, but we can provide the data like this

in CSV format

label | from point (x,y) | to point (x,y) | image
--- | --- | --- | ---
label name| 1,1 | 2,2 | image name

in JSON format

[code]

[2020-06-08 05:40] SkalskiP commented on #84
@sreevardhanreddi and @animebing I already started work on this feature. I guess it should be on `develop` soon. I'll keep you posted. ;)

[2020-06-11 18:54] prashastha-mudannayake commented on #85
I got the same error, someone  suggested to add HOST="localhost" to the `.bash_profile` and `source ~/.bash_profile` to load it back, but it didn't work

[2020-06-11 19:02] prashastha-mudannayake commented on #85
I found solution. Remove `/my-app/node_modules/webpack-dev-server/fsevents`. The `npm start` should do it.

[2020-06-13 13:04] SkalskiP commented on #84
@sreevardhanreddi and @animebing pull request with line labels is open: https://github.com/SkalskiP/make-sense/pull/89

[2020-06-13 17:54] SkalskiP commented on #12
@bourdakos1 and @tfriedel PR adding cross-hair is currently open for code review https://github.com/SkalskiP/make-sense/pull/90

[2020-06-13 18:54] SkalskiP commented on #12
@bourdakos1 and @tfriedel all changes can be tested here: https://develop.makesense.ai

[2020-06-13 18:54] #12 closed

[2020-06-13 18:55] SkalskiP commented on #84
@sreevardhanreddi and @animebing all changes can be tested here: https://develop.makesense.ai

[2020-06-13 18:55] #84 closed

[2020-06-13 19:04] tfriedel commented on #12
Hi SkalskiP, I tried the feature and it looks pretty good!
One thing I would still add is to remove the need for dragging. Just clicking in one corner, and click again in the other should also work for creating the box.

[2020-06-14 14:09] SkalskiP commented on #81
@davidggphy PR providing new functionality - image classification labeling is now open - https://github.com/SkalskiP/make-sense/pull/92

[2020-06-15 11:48] ericman93 commented on #86
Coco for polygons will be great!

[2020-06-15 21:45] SkalskiP commented on #86
@ericman93 I'll take that into account when prioritizing tasks for the next release. ;)

[2020-06-15 21:54] SkalskiP commented on #81
This functionality is available on makesense.ai

[2020-06-15 21:55] #81 closed

[2020-06-15 22:00] SkalskiP commented on #84
@sreevardhanreddi and @animebing, what would be the topical use case for this kind of annotation?

[2020-06-16 05:45] sreevardhanreddi commented on #84
@SkalskiP Line annotation can be used for edge/boundary detection

[2020-06-17 17:52] nouyang opened #95 "Feature request: oriented bounding box (rectangle with angle)"
**Is your feature request related to a problem? Please describe.**
I want to annotate a small set of pictures with "oriented bounding boxes". I have been using this tool ([BBox with angle label](https://github.com/YenYuHsuan/BBox_with_angle-Label-Tool)) and it works fine, but the interface is counter-intuitive (draw the box, then rotate). As a result I looked into  options for a better interface,

[2020-06-22 17:52] campper opened #96 "can a image suppored by multi labels"
in image recognition task,can a image supporting by multi labels,not just one label.

[2020-06-26 07:57] Kreijstal opened #97 "Allow images/configuration to be loaded from an url, or a list of urls."
**Describe the solution you'd like**

It'd be great if make-sense allowed you to give a yaml or a list of urls that are available, so that you can colaborate with people on the same set of images

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
sure, you could theoretically mount your image database as a FUSE p

[2020-06-26 08:33] Kreijstal opened #98 "[Feature Request] Allow you to import your own models. (from an url)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
If your model is open, and you want to use them on the web, to get automated suggestions, make-sense should support it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
When opening the app,

[2020-07-03 06:46] deep-learning-newbie opened #99 "How to save my work"
**Is your feature request related to a problem? Please describe.**
I can't save my work. My dataset contains more them 1K images - it is impossible to annotate them in a day therefore I'd like to save my work and then return to one the next day - but I can't find something like Save or project, or something which allows me to return to my work which is already done

**Describe the solution you'd l

[2020-07-08 06:58] PUKL-XXXL opened #100 "Load Files with Label Description - How does the label file have to be formatted? Please provide an Example File."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to load previously defined Labels (which would be technically possible). Unfortunately I don't know how this input has to look like/be formatted.

**Describe the solution you'd like**
A clear and concise description of what yo

[2020-07-08 12:38] PUKL-XXXL opened #101 "Please implement System Drives and Folders as Input Source"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have locally stored folders with images I would like to label. In order to do so, I need to open the folder from the dialog, mark all images. It would be great if I could choose local folders.

**Describe the solution you'd like**
A clea

[2020-07-20 06:31] angyee commented on #98
updated this feature? any demo?

[2020-07-20 06:38] angyee opened #102 "{[doubt] can I able to run make sense tool without internet on any browser?"
I want to run this tool locally in my machine without the internet, I don't want to upload my data to the server o any, it is exactly like
a labeling tool? but added features? I want to write in python this tool, source code is opensource?

[2020-07-20 14:54] SkalskiP commented on #98
hi @angyee!  Unfortunately, not yet. The idea seems to make sense so it will in all likelihood be added to MakeSense. But I make no secret of the fact that it is not at the top of the priority list.

[2020-07-26 06:50] glenn-jocher opened #103 "Suggest adding YOLOv5 labeller"
Hi there! I'm updating the official YOLOv5 tutorials, and I wanted to guide people to the best open source labelling tools. I currently only mention Labelbox and CVAT, but I thought I might add this site. I wanted to ask you if any other tools come to mind that you know that would be suitable for YOLO labels?

Secondly, I saw you mentioned you use SSD for labelling, and I thought I'd reach out to

[2020-07-28 17:58] SkalskiP commented on #103
Hi @glenn-jocher! As you may know, I am a big fan of your work and I would be delighted if MakeSense would be one of the suggested tools in your tutorials. As for the other labeling tools, I'm a little out of date, but at the moment nothing comes to mind :/

On the second subject. Is that model runnable in JavaScript environment?

[2020-07-28 18:00] SkalskiP commented on #102
1. MakeSense provides you with privacy. Images are not sent anywhere.
2. The code is OpenSource for purposes that are not for profit.

[2020-07-28 18:00] #102 closed

[2020-07-28 18:02] SkalskiP commented on #101
Hi @PUKL-XXXL! MakeSense is JavaScript tool running in your browser. I don't think this kind of solution is possible from the browser. If you have any information/links suggesting otherwise, please let me know :)

[2020-07-28 18:03] SkalskiP commented on #100
Hi @PUKL-XXXL! That functionality is not yet added to MakeSense.

[2020-07-28 18:04] SkalskiP commented on #99
Hi @deep-learning-newbie! Unfortunately, that functionality. is not yet implemented in MakeSense.

[2020-07-28 18:05] SkalskiP commented on #99
This issue is duplicate of #32.

[2020-07-28 18:05] #99 closed

[2020-07-28 18:06] SkalskiP commented on #100
This issue is duplicate of #32.

[2020-07-28 18:06] #100 closed

[2020-07-28 18:06] SkalskiP commented on #53
This issue is duplicate of #32.

[2020-07-28 18:06] #53 closed

[2020-07-28 19:07] glenn-jocher commented on #103
@SkalskiP javascript probably not. Ah, I see the constraint now, of course. So your web solution is running the auto-labeling using user's local hardware? Of course, not sure why I didn't think of that before. Do you have any ideas on how to export from torch to javascript?

We currently have export to torchscript, coreml, onnx. Though to be honest the export pipelines are not super mature yet sin

[2020-07-28 21:08] SkalskiP commented on #103
@glenn-jocher Exactly. It uses the customer's device and makes predictions in the browser. But I think we could join forces and do something cool! Hm... If you use ONNX maybe it would be possible to convert the model to TF and then to TF.js? Is it possible to go ONNX -> TF?

[2020-07-30 10:34] angyee opened #104 "please share windows 10 installation instructions for makesense?"

[2020-07-31 00:19] MaskeZen commented on #104
The instructions are in the README: https://github.com/SkalskiP/make-sense#set-up-the-project-locally

you only need love... and [nodejs](https://nodejs.org/)

[2020-08-15 12:46] SteveCohen opened #105 "Disable browser back buttons during labelling (to prevent data loss)"
**Is your feature request related to a problem? Please describe.**
Pressing 'back' button (or backspace key on some browsers) causes the browser to navigate back, as expected, which in turn causes all labelling work to be lost and unrecoverable.

**Describe the solution you'd like**
Prompt the user whether the _really_ want to go 'back' (and lose their work) or halt. e.g. https://stackoverflow.com

[2020-08-16 08:34] SkalskiP commented on #105
Hi @SteveCohen! Thank you very much for the idea. This feature should be in MakeSense from the beginning. I'll try to add it as soon as possible.

[2020-08-16 10:45] SkalskiP commented on #105
@SteveCohen PR is up for review #106

[2020-08-16 17:02] SkalskiP commented on #86
@ericman93 and @herruli PR is open #107. Support for COCO export for polygons soon to be added.

[2020-08-17 17:06] lester1027 opened #108 "Black Guidelines for Images with White Background"
Thank you very much for this amazing tool.

When I try to label images with a white background, the current white guidelines make me feel difficult to locate the cursor. Is it possible to add an option to change the guideline colour?

Thank you.

[2020-08-18 16:54] SkalskiP commented on #108
Hi @lester1027! I was thinking about introducing a functionality that would choose whether the guidelines should be white or black, for example based on the colour of the pixel under the cursor.

[2020-08-18 16:55] #86 closed

[2020-08-18 16:55] #105 closed

[2020-08-18 17:15] lester1027 commented on #108
This is a good idea but I cannot tell if automation or manual selection is better for now.

[2020-08-18 20:51] #96 closed

[2020-08-18 21:00] SkalskiP commented on #104
Hi @angyee! Exactly as @MaskeZen  pointed out. All you need to set up MakeSense locally on windows is Node.js. Apart from that, all other instructions can be found in https://github.com/SkalskiP/make-sense#set-up-the-project-locally

[2020-08-18 21:00] #104 closed

[2020-08-20 11:58] sidra718 commented on #101
Hello, this would be a great feature to add! I am planning to set up make-sense on a server and then access my image folder on that server for labeling, instead of uploading images. Any help would be appreciated since I am not very familiar with nodejs.

[2020-08-24 10:30] devhci opened #110 "Failed to compile."
**Describe the bug**
Failed to compile. I am trying to install  and run  brand new  setup without any changes

**To Reproduce**
I am trying brand new install without any changes.

**Expected behavior**
compile
**Screenshots**
Find the attached screenshot
<img width="1395" alt="Screenshot 2020-08-24 at 12 25 43" src="https://user-images.githubusercontent.com/3774356/91034505-6875d880-e605-11ea-8e04

[2020-08-24 14:42] SkalskiP commented on #110
@devhci so what you have done is:

[code]

[2020-08-24 14:56] devhci commented on #110
@SkalskiP  Yes.

and I have  npm 6.14.5 and node.js  v14.5.0

[2020-08-24 15:03] SkalskiP commented on #110
If possible, please switch to our supported environment: npm `6.x.x` and node.js `v11.x.x`.

[2020-08-24 15:34] SkalskiP commented on #110
@devhci, also if possible please let us know if changing JS environment solved issue.

[2020-08-28 00:38] glenn-jocher commented on #103
@SkalskiP ok, all set. I've added makesense.ai on our suggested labeling tools list, step 2. Does this look good?
https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data

Yes, ONNX to TF should work, but we have been mostly focused on CoreML export as of late. I think next year we'd like to port our iDetection app over to Android as well, so we'll have to play the ONNX to TF game then ourselv

[2020-09-02 18:07] SkalskiP commented on #32
Hello @bilylee, @yyuuliang, @zhreshold, @bourdakos1, @pixelatedbrian First PR, with the loading of COCO segmentation labels is open for review: https://github.com/SkalskiP/make-sense/pull/111. Would be great if you could find some time to take a look.

[2020-09-02 21:40] SkalskiP commented on #110
@devhci any updates on that issue?

[2020-09-03 14:20] cmdrootaccess opened #112 "Not able to export mask"
Hello,

how do i export a mask using your service ? i am able to annotate but i can i cant export any image, only json formats.

i want to export something like this:

![1](https://user-images.githubusercontent.com/14039016/92127175-b65ebd80-ee09-11ea-9cb9-8c2989789fd5.jpg)
![1](https://user-images.githubusercontent.com/14039016/92127188-ba8adb00-ee09-11ea-8320-95fe2c213e90.png)

[2020-09-03 15:22] SkalskiP commented on #112
Hello @cmdrootaccess, unfortunately at the moment, MakeSense does not yet have this possibility.

[2020-09-03 15:37] SkalskiP commented on #103
Hi @glenn-jocher great thanks for the addition of makesense.ai to the list of tools. I clearly understand that you have your own backlog. But I am thrilled by the potential opportunity to work with you. Big fan of your repo.

[2020-09-03 18:33] #110 closed

[2020-09-03 19:01] glenn-jocher commented on #103
@SkalskiP thanks! You seem to have a pretty good handle on web development.

It would be nice to eventually trend YOLOv5 towards an AutoML style solution, with a web front end and a cloud backend with hosted datasets and training etc. Roboflow is a startup that seems to be doing a decent job of this already, using a subscription business plan. They're very small and just getting started, but their

[2020-09-04 06:07] SkalskiP commented on #32
I am happy to inform you that it is now possible to load labels from COCO format files. This way you can load the annotations in the form of a bbox and segmentation. The Feature is still very fresh so for some time it will only be available on the dev instance. https://develop.makesense.ai/ I am not closing this issue because it is only the first of a whole series of PRs, in which I will add a few

[2020-09-04 06:23] SkalskiP commented on #103
@glenn-jocher I worked for two years as a front engineer. Now I am working on CV on a daily basis, but there are still some skills left.

From what I see they are doing something similar to supervise.ly. I had such an idea for MakeSense once, but it is too big a project to create it on my own.

[2020-09-04 10:29] kishore-jd opened #113 "How to Host in IIS sever"
How To Host this entire code into an IIS server

[2020-09-04 10:29] #113 closed

[2020-09-08 09:22] Marwen-Bhj commented on #48
Going back to this, since make-sense is an important tool for me that I use often, and I needed it for a segmentation task that required a coco style json output. I suggest implementing  Simple Linear Iterative Clustering (SLIC) along with the polygons since Super Pixels comes super handy for having refined edges of complicated geometry. It will be definitely faster than adding multiple points whi

[2020-09-08 15:05] SkalskiP commented on #48
Hi, @Marwen-Bhj. Sounds like a very cool idea. Frankly speaking, I will have to examine this subject. Because I wonder what the transition from a bitmap to COCO JSON would have to be like. Other than that I would be happy to add it to our backlog. BTW If you use MakeSense for segmentation with COCO output, check out our new feature on our develop instance: https://develop.makesense.ai/ Now you can

[2020-09-12 21:29] SkalskiP commented on #32
Hi all. Just added loading of existing YOLO annotations into MakeSense. You can test it on our test instance:  https://develop.makesense.ai/

[2020-09-12 21:31] SkalskiP commented on #58
Is it still a problem on FireFox?

[2020-09-12 21:33] SkalskiP commented on #77
@ahmedbesbes I'm going to implement that feature in the upcoming version of MakeSense.

[2020-09-12 21:44] bruzat commented on #58
I don't know sry

[2020-09-13 07:45] #58 closed

[2020-09-14 16:55] sid-thakur opened #115 "Prevent multi-class selection for image recognition task"
**Describe the bug**
I have set up makesense locally. In my instance, for image recognition task, the makesense labeling interface allows selection of more than one labels.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the image recognition path
2. Upload images
3. Add some labels
4. See labeling interface

**Expected behavior**
Image recognition should only allow one label per imag

[2020-09-14 21:09] SkalskiP commented on #115
Hello @sid-thakur! Nice to hear that you decided to use MakeSense in your project. The behavior you have described is not a bug, but a development of the feature.

In an earlier version MakeSene allowed to assign only one label to an image. This version is still available on https://makesense.ai, because there was no official release yet. This version of code is also currently on the `master` bran

[2020-09-15 01:18] sid-thakur commented on #115
Thank you @SkalskiP we'll account for the multi-label case

[2020-09-15 01:23] #115 closed

[2020-09-15 05:25] #88 closed

[2020-09-15 05:25] #103 closed

[2020-09-15 05:26] #112 closed

[2020-09-15 08:38] kishore-jd opened #116 "Integration"

[2020-09-15 08:39] kishore-jd commented on #116
how to integrate this application into my application ... please give me guidenece

[2020-09-15 15:19] SkalskiP commented on #116
Hi @kishore-jd, could you give me more background on what kind of application you are building, what outcome you expect?

[2020-09-18 10:17] kishore-jd commented on #116
We are Building medical application For Cervical cancer. i am using yolo v3
.i have one doubt how to able adjust bounding boxes after detection after
getting prediction.please reply me

On Tue, Sep 15, 2020 at 8:49 PM Piotr Skalski <notifications@github.com>
wrote:

[2020-09-18 13:25] SkalskiP commented on #116
Hi @kishore-jd. I have two questions:
1. What do you mean to "adjust bounding boxes after detection" .
2. Where in all of that would you like to use MakeSense?

[2020-09-23 20:43] #116 closed

[2020-09-25 13:40] kishore-jd commented on #116
yes  i want editable  of bounding boxes after  detection ..please help me as soon as posssible

[2020-09-25 14:19] SkalskiP commented on #116
Editable bounding boxes are already part of MakeSense. Where is the problem?

[2020-09-28 05:43] sunnyzhong812 opened #118 "Failed to compile."
**Describe the bug**
Failed to compile.

**To Reproduce**
Steps to reproduce the behavior:
1. I try install and start ,Ubuntu 16.04 and 20.04 is same error.
2. See error

**Screenshots**
![err](https://user-images.githubusercontent.com/40876366/94394731-9adc9d80-0190-11eb-9770-f31a21f138d4.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu16.04.7 / 20.04
 - Browser :Firef

[2020-09-28 06:10] SkalskiP commented on #118
Hi @sunnyzhong812 ! Could you please do `npm list -g --depth=1` inside `make-sense` dir?

[2020-09-28 06:15] SkalskiP commented on #118
Hi @sunnyzhong812 ! Could you execute `npm list react-spinners`  inside the main `make-sense` dir?

[2020-09-28 06:50] sunnyzhong812 commented on #118
Hi @SkalskiP ,
![err2](https://user-images.githubusercontent.com/40876366/94399423-e3e51f80-0199-11eb-943d-509f5dcadce0.png)

 Thank you

[2020-09-28 07:39] SkalskiP commented on #118
@sunnyzhong812 The reason that the application does not start correctly is the inappropriate version of this library. Which is very strange because `npm install` should use the version defined in `package.json`. Try to change the library version manually to `0.5.4`. Try `npm install react-spinners@0.5.4` inside `make-sense` dir.

[2020-09-28 09:22] kishore-jd commented on #116
1)How to Work With My YOLO model To Achieve That Editable Functionality. My Model Build by using python..But Your Model is built by using typeScript. How Can I Achieve that one by our model?
2)At the last step in make sense how to export both file and images

[2020-09-28 09:35] sunnyzhong812 commented on #118
@SkalskiP It's ok.
Because when I installed, used "sudo npm audit fix --production --unsafe-perm=true --allow-root".

[2020-09-28 09:35] #118 closed

[2020-10-04 15:58] narulkargunjan opened #121 "gyp verb check python checking for Python executable "python" in the PATH"
**Describe the bug**
Simply great work. Am trying to work with this. While building the docker image, facing issues: "gyp verb check python checking for Python executable "python" in the PATH".

Steps followed:
1. git clone https://github.com/SkalskiP/make-sense.git
2. cd make-sense
3. docker build -t make_sense docker/

Error:
Sending build context to Docker daemon  2.048kB
Step 1/5 : FROM node:1

[2020-10-07 13:27] LuquesP opened #124 "Change Crosshair Color"
I want to change the crosshair color in Settings.ts

After setting the color to #000 and restarting the app the color was still white

[2020-10-07 15:37] SkalskiP commented on #124
Hello @LuquesP, change the value of `crossHairLineColor` in `src/settings/RenderEngineConfig.ts`.

[2020-10-08 04:56] kishore-jd commented on #116
Hello ...i am waiting For Your Reply please ..

[2020-10-08 07:26] SkalskiP commented on #116
Hi @kishore-jd:

1. What framework/library did you used to train your YOLO model?
2. You can export annotations, but you will not be able to export images with it. We do not support this functionality.

[2020-10-13 06:06] kishore-jd commented on #116
open-cv library

[2020-10-16 13:05] Claire1976 opened #125 "Import in csv format"
I would like to be able to:

- annotate
- then download and save
- then import my saved data back into Make Sense to continue annotating

all in .csv

your table suggests that csv importing is not yet a feature, but coming soon.

How near are you to offering this as a feature?

[2020-10-16 13:06] Claire1976 commented on #125
....also, it'd be good to be able to import label pre-determined label data into the program at the start of the annotation, so I don't have to set that up every time I start a new annotation.

[2020-10-17 17:20] SkalskiP commented on #125
Hi @Claire1976, cery noce to meet you. Please let me know wiat type of label would you like to import in csv format?

[2020-10-17 17:20] SkalskiP commented on #125
As for importing labels list you can import it from file.

[2020-10-19 13:06] JamesDevitt1 opened #126 "Shortcut keys?"
Great product!
Wondering if there any shortcut keys, specifically is there a shortcut to move to next image?  This would help me speed up my labeling.
Many thanks.

[2020-10-19 13:23] ashutoshdhanda commented on #126
I just started using the app and I think it's just fantastic. The only thing that it lags, for my current workflow, is the inclusion of shortcuts keys. It could really use some, like move to the next image, previous, quick-select a class from the list, etc. Would make the task way more fluid.

Thanks and of course, keep up the good work. Clap-clap!

[2020-10-19 16:37] SkalskiP commented on #126
@JamesDevitt1 and @ashutoshdhanda, you could use <kbd>Ctrl</kbd> + <kbd>Left</kbd> to go to previous and <kbd>Ctrl</kbd> + <kbd>Right</kbd> to go to next image.

[2020-10-19 17:33] ashutoshdhanda commented on #126
@SkalskiP awesome!!

[2020-10-19 17:41] SkalskiP commented on #126
In that case, I'm closing the issue ;)

[2020-10-19 17:41] #126 closed

[2020-10-19 18:13] JamesDevitt1 commented on #126
Great quick response.  Thanks.

[2020-10-20 18:15] JamesDevitt1 commented on #126
Hi Piotr,

Do you know if there is an alternative set of key shortcuts that work on
apple mac?

Many thanks,

Seamus

On Mon, 19 Oct 2020 at 17:37, Piotr Skalski <notifications@github.com>
wrote:

[2020-10-22 12:51] pepijnob opened #127 "typescript error:"
Hi I'm trying to run make-sense locally on windows 10 using npm.
After running 'npm start' I got a, '=' expected.  TS1005 error, after some googling I found that I had to update typescript and change it in the package.json file, after reinstalling I got a different error:
"
TypeScript error in C:/Windows/System32/make-sense/src/logic/render/LineRenderEngine.ts(210,24):
Argument of type '{ type: Ac

[2020-10-23 06:08] SkalskiP commented on #127
@pepijnob no I guess you shouldn't have. :) Please go back to the default `package.json` and provide the error that you see with our version of TS. Also, let us know what version of `node` and `npm` you have on your Windows machine?

[2020-10-23 06:10] SkalskiP commented on #126
Hi @JamesDevitt1. On mac you can use <kbd>⌥</kbd> + <kbd>Right</kbd> for next and <kbd>⌥</kbd> + <kbd>Left</kbd> for previous image. Aleso all of that is described in `README.md`.

## Supported Keyboard Shortcuts

| Functionality                      | Context  | Mac | Windows / Linux  |
|:-----------------------------------|:--------:|:---:|:----------------:|
| Polygon autocomplete

[2020-10-23 11:18] pepijnob commented on #127
@SkalskiP Thanks for the fast reply,
I have npm version 6.14.8 and node version 12.19.0.
I changed it back to the package.json file and after 'npm start' this is the error shown (first I see the app on my browser for 1 sec):
"
TypeScript error in C:/Windows/System32/make-sense/node_modules/jest-diff/build/diffLines.d.ts(8,13):
'=' expected.  TS1005

     6 |  */
     7 | import { Diff } from './cl

[2020-10-23 13:00] JamesDevitt1 commented on #126
Perfect.  Thanks again.

[2020-10-23 16:55] SkalskiP commented on #127
Let's start by changing your `node` version and make it the same as the one we support:  `v11.x.x`.

[2020-10-23 16:55] SkalskiP commented on #126
No problem :)

[2020-10-25 12:20] SkalskiP commented on #127
@pepijnob any updates on that?

[2020-10-26 10:55] pepijnob commented on #127
@SkalskiP Hi , thanks. I installed v11.10.1. I deleted the files that were there and ran the process from start again. Right now I get the error:
"
\make-sense>npm install
npm WARN make-sense@1.0.0 No description
npm WARN make-sense@1.0.0 No repository field.

up to date in 0.381s

\make-sense>npm start
npm ERR! missing script: start

npm ERR! A complete log of this run can be found in:
npm ERR!

[2020-10-26 11:06] SkalskiP commented on #127
Hm... I don't think it is an issue with companies proxy.

1. Could you do`ls` or `dir` (depending on os you use) in `make-sense` dir?
2. Could you do `git status` in `make-sense` dir?

[2020-10-26 11:26] pepijnob commented on #127
dir:

10/26/2020  10:23 AM    <DIR>          .
10/26/2020  10:23 AM    <DIR>          ..
10/26/2020  10:23 AM    <DIR>          .github
10/26/2020  10:23 AM               290 .gitignore
10/26/2020  10:23 AM               154 .travis.yml
10/26/2020  10:23 AM    <DIR>          docker
10/26/2020  10:23 AM    <DIR>          examples
10/26/2020  10:23 AM            35,823 LICENSE
10/26/2020  10:23 AM

[2020-10-26 11:52] SkalskiP commented on #127
@pepijnob I see no `node_modules` in your `dir` result. Am I correct?

[2020-10-26 11:53] pepijnob commented on #127
@SkalskiP yes

[2020-10-26 11:54] SkalskiP commented on #127
@pepijnob please execute `npm install` in `make-sense` dir, and paste here:

[2020-10-26 11:55] pepijnob commented on #127
npm WARN make-sense@1.0.0 No description
npm WARN make-sense@1.0.0 No repository field.

up to date in 0.387s

[2020-10-26 11:57] SkalskiP commented on #127
@pepijnob this is all you get in terminal?

[2020-10-26 11:57] pepijnob commented on #127
@SkalskiP yes, that's all

[2020-10-26 12:02] SkalskiP commented on #127
Overall the problem is that your npm does not create the `node_modules` directory during `npm install`. So when you run `npm start` you do not have the required script. It is not the fault of MakeSense but your configuration I guess.

[2020-10-26 12:04] pepijnob commented on #127
Okay, good to know and thanks for all the help. I will have a further look into this

[2020-10-26 12:08] #127 closed

[2020-10-27 03:04] abfleishman opened #128 "Assign labels to hotkeys"
**Is your feature request related to a problem? Please describe.**
When labeling many types of objects in a single image it is slow to have to go to the righthand side of the screen and use the dropdown to assign a label to the selected bounding box.  If you could associate a key with a label (i.e. 1="bird", 2="goat", 3="farmer") it would make assigning labels much faster.

**Describe the solution

[2020-10-27 06:49] SkalskiP commented on #128
Hello @abfleishman, it looks like a very useful feature and at the same time, it is also quite easy to do. Unfortunately, I have a very tight calendar at the moment, but as soon as I get some time off, this feature request will be at the very top of my list of potential tasks.

[2020-10-27 10:23] kishore-jd commented on #116
Hello Sir , I am Waiting For Your Reply

[2020-10-27 10:40] SkalskiP commented on #116
Hi @kishore-jd. Unfortunately, your question is not about make-sense, but rather external libraries that we do not support.

[2020-10-27 15:34] abfleishman commented on #128
@SkalskiP that is great news!  Your tool looks super useful, concise (no extra frills in a good way), and so far seems perfect for the labeling tasks that I have!

[2020-10-27 16:13] SkalskiP commented on #128
@abfleishman thank you very much ;)

[2020-10-28 19:38] kartikjindgar opened #129 "Ability to import point"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 06:32] #125 closed

[2020-10-29 16:49] geringer commented on #115
@SkalskiP
Seems like a bug disguised as a half baked feature request to me.

Having multiple labels does not work with any of the existing image classification tasks as it disturbs the back-propagation on categorical cross entropy. Pytorch converts an image folder into **one**-hot embeddings. Also, how would this be read into an torchvision.datasets.ImageFolder? Would the same file be copied into

[2020-10-29 20:44] SkalskiP commented on #115
Hi @geringer :) I must admit I see lots of arguments against that future now... . I need to think a little before I decide to drop it. I really would not want to bring it back once again in the future ;)

[2020-10-30 13:24] geringer commented on #115
@SkalskiP I understand 😄

Perhaps it would be best to just be a toggle-able feature

[2020-10-30 14:05] SkalskiP commented on #115
@geringer toggle-mechanism is easy when you do not take into account that somebody hed started labeling in multi-mode, and then decided to turn it of... What should happen in that situation? :/

[2020-11-03 18:55] geringer commented on #115
@SkalskiP default to single class, allow when user tries to make two labels, ask if they are sure they want multiclass labels, and then proceed with multiclass labelling

[2020-11-04 12:45] glenn-jocher commented on #103
@SkalskiP yes I've seen supervisely. It's funny how they portray dataset augmentation as something you do once offline before training. Either they don't understand augmentation or their users don't, or both.

I was thinking of launching a fully end-to-end Saas service as well, a mixture of YOLOv5, Labelbox and Google's AutoML, plus edge deployment with iOS and Flutter reference apps, with cloud t

[2020-11-04 14:20] SkalskiP commented on #103
Hi, @glenn-jocher! They even build quite complicated functionalities around augmentation inside the platform. I have already set the meeting in the calendar. I'm always excited about the potential cooperation with you and your team! See you on Friday ;)

[2020-11-04 14:23] SkalskiP commented on #115
Hi, @geringer! I think more and more about this functionality. And I am becoming more and more convinced to this solution. The problem is that MakeSense is becoming more and more complicated. And you have to start thinking about making documentation.

[2020-11-06 08:38] wesje97 opened #130 "Parsing error when importing labels in yolo format"
Hi,

Currently when trying to reimport the yolo files in makesense to continue the labeling we are running into some random parsing errors.

[2020-11-06 11:42] SkalskiP commented on #130
Hi, @wesje97. Could you provide some more info? maybe provide an example of a file that is causing problems?

[2020-11-07 17:41] WesleyW97 commented on #130
Hi, @SkalskiP . Ofcourse. I have added an example image I used for the labeling, the labels.txt file and the output of the yolo format I got after exporting the annotations.

[20200528-locH1-iPhone8.txt](https://github.com/SkalskiP/make-sense/files/5505213/20200528-locH1-iPhone8.txt)

[labels.txt](https://github.com/SkalskiP/make-sense/files/5505216/labels.txt)

![20200528-locH1-iPhone8](https://u

[2020-11-07 21:57] SkalskiP commented on #130
Hi, @WesleyW97! Thank you very much for provideing examples. I was able to sucesfully truck down the bug. Fix is already on https://www.makesense.ai/. @wesje97 and @WesleyW97, please let me know if you will still experience those issues in future.

[2020-11-07 21:57] #130 closed

[2020-11-10 13:47] Marwen-Bhj opened #131 "Add COCO MASK_RCNN AI model"
I use makesense.ai for segmentation tasks mostly, to me it is the most clean and reliable tool.
I find it very crucial to be able to load a segmentation model like MaskRCNN similarly to COCO SSD in order to accelerate the workflow, as annotating using polygones takes a lot of time.

[2020-11-16 16:08] sid-thakur commented on #115
Hey @SkalskiP @geringer and I work together. We were wondering if we can chat with you regarding customization of Makesense for our company's needs for data labeling. Happy to discuss the engagement/compensation, etc. You can reach me at sid.thakur@blaize.com
Thanks

[2020-11-17 12:15] ZahraAnam opened #132 "This is an error with npm itself"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-17 18:40] SkalskiP commented on #132
Hi @ZahraAnam! Sory, but what do you mean by:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-11-17 18:43] SkalskiP commented on #131
Hello @Marwen-Bhj. I undestand that you would like to load custom model for instance segmentation?

[2020-11-17 19:30] Marwen-Bhj commented on #131
Hello again @SkalskiP  and yes.

[2020-11-19 10:27] ZahraAnam commented on #132
Hi SkalskiP! Thing is that I want to label my data using your tool, But the idea is to assign global and local labels,
for instance Person--->Female--->25 years old etc
so I am wondering how can that be done with your tool

[2020-11-19 10:31] SkalskiP commented on #132
Hi @ZahraAnam just to make sure that problem that had "This is an error with npm itself" is it still a problem?

[2020-11-19 11:13] ZahraAnam commented on #132
Let me recheck please

On Thu., Nov. 19, 2020, 11:31 a.m. Piotr Skalski <notifications@github.com>
wrote:

[2020-11-19 11:16] ZahraAnam commented on #132
(base) anam@anam-ThinkPad-P73:~/Annotation_tools/make-sense$ npm install

/home/anam/Annotation_tools/make-sense/node_modules/node-sass

Downloading binary from
https://github.com/sass/node-sass/releases/download/v4.14.1/linux-x64-64_binding.node
Download complete..] - :
Binary saved to
/home/anam/Annotation_tools/make-sense/node_modules/node-sass/vendor/linux-x64-64/binding.node
Caching binary to

[2020-11-23 00:47] ConstantineK commented on #124
@SkalskiP I tried that and I had better luck changing the following fields in Editor.scss - I could change the crosshair lines as you describe but the difficult thing is the white on white dot for the target.

  .MousePositionIndicator {
    position: absolute;
    color: black;
    font-size: 12px;
    background-color: $darkThemeThirdColor;
    opacity: 0.6;
    padding: 5px;
    user-select: no

[2020-12-04 00:22] jaaywags opened #133 "Not All Annotations in Exported Zip File"
**Describe the bug**
After importing my images (1739 images) and importing my previously exported annotations (1179 annotation files), I tried to annotate a few more, and exported them, but only received 16 files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://www.makesense.ai/](https://www.makesense.ai/)
2. Click Get Started
3. Select your images
4. Click "Object Detection"

[2020-12-04 14:25] jaaywags commented on #128
This might be partially resolved with PR #134. It will assign hotkeys ctrl+0-9 to the first 10 labels or tags.

[2020-12-14 12:37] siva-wellnesys opened #135 "pretrained models are not loading"
hi while loading the pose recognition/ssd model in browser i am getting this error
.catch((error) => {
                // TODO
                throw new Error(error);
            })

  1347 |     callback && callback();
  1348 |   }).catch(error => {
  1349 |     // TODO

       |           ^  1351 |   });
  1352 | }
  1353 |

This screen is visible only in development. It will not appear if the a

[2020-12-14 17:59] SkalskiP commented on #135
Hello @siva-wellnesys, I just tested and the ssd-model is loading properly - no errors are visible.

Could you describe more precisely the circumstances in which this error occurs? What do you mean by: `This screen is visible only in development. It will not appear if the app crashes in production.`

[2020-12-14 18:46] SkalskiP commented on #133
Hello @jaaywags. First of all, I am very sorry for the late answer. Recently I have a lot of responsibilities that I had to take care of. I have a feeling I know why you experience this problem - A combination of two decisions I made during the MakeSense design process, which in this case work on your disadvantage:
- To optimize the process of loading MakeSense images, it loads them into memory on

[2020-12-14 22:13] haadfida opened #136 "COCO format annotations merging(instance segmentation)"
I am trying to combine multiple datasets into one(in the coco format for instance segmentation) but that isn't currently possible at the moment, maybe because of the ids?

**Describe the solution you'd like**
When you add annotations it combines them automatically.

**Describe alternatives you've considered**
I have tried to write a converter that appends the ids but so far it hasnt worked to any

[2020-12-15 06:57] SkalskiP commented on #136
Hi @haadfida, I can check it and answer your question. Do you have any sample dataset that causes the errors you are talking about so that I can replicate the error?

[2020-12-15 07:31] haadfida commented on #136
cocoIDDatasets.rar
<https://drive.google.com/file/d/1eBi7EmegerzhvyumsBNyBusEvzr-guyN/view?usp=drive_web>
 cocoDatasetFaces.rar
<https://drive.google.com/file/d/1m-c6lov-zpELtj_7oyoLpjMULrHCVTGp/view?usp=drive_web>
Yeah I do, 2 of them in fact(2 datasets for ID cards and 2 datasets for
faces instance segmentation). I don't think it's an error of sorts, rather
a missing feature. I want to merge the

[2020-12-15 14:04] jaaywags commented on #133
@SkalskiP

Not a problem! Thank you for responding and looking into the issue.

That is a good find. I am pretty sure that is problem too. I loaded up the project locally and removed the second half of that if condition and all of my annotations were exported. So I changed line 58 from
`if (imageData.labelRects.length === 0 || !imageData.loadStatus)`
to
`if (imageData.labelRects.length === 0)`

Th

[2020-12-15 15:32] SkalskiP commented on #133
Hi, @jaaywags question: Did those labels exported correctly? I ask because YOLO labels are relative (values are between 0 and 1). To calculate them, you need to know image dimensions, and I guess you only know those dimensions after loading image.

[2020-12-15 15:36] SkalskiP commented on #136
Hi @haadfida. I'll try to take look at it this week, and let you know :)

[2020-12-16 01:18] jaaywags commented on #133
@SkalskiP Good catch! No they did not export correctly :/
Here is an annotation (00001.txt) before I uploaded it
[code]

And this is after I exported it
[code]

Similar but you can see that there were calculations performed on it. I did not have much time today but tomorrow I can try and find a solution. I will think more about this tonight.

[2020-12-16 01:22] jaaywags commented on #133
Actually, now that I am looking at it, it looks like the numbers were just rounded. I will play with it more tomorrow. I think you are onto something though.

[2020-12-16 03:36] haadfida commented on #136
Awesome, thanks!

[2020-12-16 07:26] SkalskiP commented on #133
Hi @jaaywags your output is how I intended it to be. I wanted a standard number of significant numbers, and I decided to use 6. A bug that I was expecting (caused by unloaded foto) would be rather an empty label file or no label file at all.

[2020-12-24 02:57] bjavaid1 opened #137 "make-sense does not load when running from docker"
**Describe the bug**
Using Docker, when I try to load make-sense in the browser, the server times out and nothing loads.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker build -t make_sense docker/`
2. `docker run -dit -p 3000:3000 --restart=always --name=make_sense make_sense`
3. `docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' make_sense`
4. Go to `<DOCKE

[2020-12-25 18:34] bjavaid1 commented on #137
I went to `localhost:3000` instead of the docker IP and it worked.

[2020-12-25 18:34] #137 closed

[2021-01-05 18:45] bhaktatejas922 opened #138 "Lines with shared point cannot connect"
Why can lines not touch? ie why can 2 lines not share one point?

Describe the solution you'd like
Multiple line labels can share a single point

Describe alternatives you've considered
Other labelling tools

I'm not sure if I'm missing something, and line labels sharing a point doesn't make sense to do. Would appreciate any explanation anyone can offer. Great work on this project btw!

[2021-01-06 17:40] bhaktatejas922 opened #139 "Why can multiple lines not share a single point?"
Why can lines not touch? ie why can 2 lines not share one point?

Describe the solution you'd like
Multiple line labels can share a single point

Describe alternatives you've considered
Other labelling tools

I'm not sure if I'm missing something, and line labels sharing a point doesn't make sense to do. Would appreciate any explanation anyone can offer. Great work on this project btw!

[2021-01-06 17:40] #138 closed

[2021-01-13 19:12] ecounce3 opened #140 "Import darknet (aka YOLO) format annotations fails when image/label filenames contain multiple "." characters"
**Describe the bug**
I have image files and annotations in a format such as "DSC_0023.mp4#t=22.png" and "DSC_0023.mp4#t=22.txt".  Importing these existing annotations fails with an error message "Given predicate results in more than one value being matched".

**To Reproduce**
Steps to reproduce the behavior:
1. select Import Annotations
2. select Multiple Files in YOLO Format
3. Select multiple an

[2021-01-14 10:23] SkalskiP commented on #140
@ecounce3 Thank you for pointing out this problem. I have checked and I understand the source of the issue. We will try to eliminate it as soon as possible. It should be relatively simple.

[2021-01-14 10:25] SkalskiP commented on #139
Hi @bhaktatejas922! Thank you so much for providing more details. We will try to offer a solution to this problem as soon as possible. I ask for your patience. :)

[2021-01-19 10:03] flocreate opened #141 "Per-class coloration"
Hi there, realy great tool.

I am testing this tool for multi-class object detection.
Would it be possible to select a color per class (label) so one can visualize what box corresponds to what label. This will help avoid selecting a wrong label for a box.

I think a color is a nice and easy way to do this. But a custom icon placed over/near the box could also be realy cool (eventualy with an optio

[2021-01-19 10:25] flocreate opened #142 "Tag Edition"
Again, realy cool tool. Easy to install and to use.

A feature we need when anotating images is to "Tag Items" to complement labels.
Tags can be text, booleans or numbers (on a pre-defined scale).

A tag can be applied on the image (in image classification) or on objects (in object detection).

What i am not sure about is if this feature could be added in the "edition mode" or if this is another t

[2021-01-26 14:22] thincal opened #143 "[Feature Request] support 3D cloud point labelling"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-27 14:04] valterfsj opened #144 "COCO JSON EXPORT CORRUPTED ANNOTATIONS"
**Describe the bug**
When trying to load annotations, is reported "Cannot load id of undefined". Even though it had been just exported from make sense. Other softwares aren't able to recognise it as a proper COCO JSON file.

It happened twice in the same dataset with different amounts of labels.

The first time, though, I was able to figure out that some "Category_ID" were missing. The second time

[2021-01-27 16:32] valterfsj commented on #144
I just removed some "spaces" and "tabs" from the file and it loaded.
As I can see, it's supposed to have 250+ annotations, but it loaded just 190ish.

[2021-02-08 04:37] slobodaapl opened #147 "Import labeled images progress"
Currently, the 'import annotations' in the action menu actually imports labels for images. I mistakenly thought it actually imports data of already annotated parts of images.

It would be nice that I can import a YOLO file generate by Make Sense to resume where I last left off. It would read the labels from the first column, and the rectangle positions from the rest and assign them to the respecti

[2021-02-08 07:09] SkalskiP commented on #147
Hi @slobodaapl, importing YOLO annotations from the last session is already possible inside MakeSense. It doesn't work for you?

[2021-02-08 16:44] slobodaapl commented on #147
I see, no it doesn't work and I'm not sure why.

When I click 'import annotations' and drag and drop the labels.txt in YOLO format outputted by Image Sense into the website, it loads the file, but no actual annotations appear on the right side.. No rectangles appear over the images.

Instead, I've noticed that it creates a lot of labels, as in classes, with each line from the .txt file as an indiv

[2021-02-08 17:04] SkalskiP commented on #147
Are you dragging only `labels.txt`? Or you also drop other `.txt` files along with it?

[2021-02-08 17:09] SkalskiP commented on #147
@slobodaapl I just tested that feature, and it works. In that case, I would like to ask you to supply me with:
* your `labels.txt` file
* single image from your dataset
* single annotations `.txt` file corresponding with that image
I'll try to take a look at you r problem.

[2021-02-08 17:21] slobodaapl commented on #147
I have identified the problem, it is not on your side.

I am running a lot of JS modifying scripts and browser-side packet sniffers and traffic shapers, and I found it has
modified something on the website to make the file damaged/process it incorrectly.

[2021-02-08 17:21] #147 closed

[2021-02-08 17:46] SkalskiP commented on #147
Ok. So glad to see that everything is working properly on the MakeSense side.

[2021-02-10 05:03] hemanth-thallapaneni commented on #32
Hi @SkalskiP, How does this Importing annotations work...? I tried exporting the annotation which I made in makesence.ai only which gave me the coordinates of the shape...but when I tried importing annotation it is asking for labels.txt file which is not present in the exported annotation so I made a txt file with labels even then  it is asking to load correctly...

[2021-02-20 15:53] hassanms opened #148 "Does it support .tiff images?"
Great project guys,

I am trying to annotate some .tiff images but upon uploading the tiff image, the editor area becomes blank and the sidebar image keeps on loading.

How can I run this project on tiff images?

![image](https://user-images.githubusercontent.com/42861376/108601286-ac337a00-73bd-11eb-8600-63ab8a416768.png)

[2021-02-21 18:15] SkalskiP commented on #148
Hi @hassanms! We intentionally do not support images in this format due to file size concerns. How large are the files that you want to label?

[2021-02-21 18:17] SkalskiP commented on #141
Hi @flocreate, I apologize for not responding. A lot of work not related to MakeSense. The idea seems interesting and actually simple to implement.

[2021-02-22 07:20] hassanms commented on #148
Hello @SkalskiP. I am glad to hear back from you. The images I want to label are gigantic satellite images but I can crop them to say 500x500 patches.

How can I add the support for tiff?

[2021-02-24 09:05] hassanms commented on #148
@SkalskiP Would you please point me to a way to making the project run tiff images?

[2021-02-24 13:31] SkalskiP commented on #148
Hi @hassanms To allow loading of tiff images you would have to modify the application code. Exactly this [file](https://github.com/SkalskiP/make-sense/blob/cd3d26e19a74a58f37cfe2a3a45fbf41e7763177/src/data/enums/AcceptedFileType.ts). But I wonder if it wouldn't be easier for you to just convert the files from tiff to png lib jpg? Since you are using 500x500px crops anyway.

[2021-02-24 15:20] hassanms commented on #148
@SkalskiP Yes I modified that file and added the desired format, that's how I was able to upload the tiff images in the first place.

Thanks for your suggestion. Would converting the tiff to png degrade the quality of the image, what do you think?

[2021-02-24 15:29] SkalskiP commented on #148
@hassanms It might but I don't think that it would stop you from labeling. The quality loss shouldn't be significant.

[2021-03-02 10:36] mabergerx commented on #128
Hi, has this received any attention for the Mac users yet? As referenced in #134, the fast hotkey labeling doesn't work yet on my machine the option key. However, in the documentation, it seems like the Mac keybind is present.

Thanks!

[2021-03-04 11:22] Vozf commented on #112
I also think that adding this feature will be quite useful

[2021-03-06 20:15] MinaGabriel opened #150 "CSV and PASCAL-VOC xmax and ymax are different"
I noticed that the xmax and the ymax are different in both the csv and VOC files, it is clear that the one in the csv is the difference between the xmin and xmax and ymin and ymax like the example in the image below,
was that made on purpose and is there is a way to create a csv file with the same values as the VOC XML files?

![image](https://user-images.githubusercontent.com/1890049/110219560-fa

[2021-03-11 07:13] Timothy-John opened #151 "Add description about each file type"
Please Add a description of how information about bboxes are encoded into each file type. I am not able to understand the data after downloading it; like what each value specifies.

[2021-03-16 06:30] SkalskiP commented on #150
Hi @MinaGabriel, really sorry for the late response. Looks like VOC XML is correct but in CSV we have `x_min, y_min, width, height`. Thank you for bringing that up.

[2021-03-16 06:48] SkalskiP commented on #151
Hi @Timothy-John. This is a great idea. I will most likely start to develop a documentation website in the upcoming weeks. And I can start from the point that you mentioned.

[2021-03-16 09:14] wierzch opened #152 "Saving the progress of the work for tomorrow's continuation"
Hello, your software is second to none in the world, it is the best of all I know. I have a question: is it possible to save your project online and share with others for more teamwork. I would like to tag images for days and come back to the project (something like: save project). We are working on Windows. Thanks.

[2021-03-16 17:25] naveedunjum opened #153 "Exporting polygonal annotations in VGG JSON format creates an empty file"
**Describe the bug**
Whenever I try to export annotations using VGG JSON format, I get an empty JSON file with two empty curly braces.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'makesense.ai'
2. Add images and select 'Polygon'
3. Annotate some parts
4. Export as VGG JSON

**Desktop (please complete the following information):**
 - OS: Linux  Mint
 - Browser : Chrome and Firefox

*

[2021-03-17 07:16] kprastey opened #154 "Import annotations in VGG JSON format"
**Is your feature request related to a problem? Please describe.**
Currently working on a project which supports only VGG-JSON annotation. One can export in VGG but while importing I don't see any option to import polygonal annotations other than COCO-JSON. To edit/review annotations I need to import VGG-JSON which currently doesn't seem possible.

**Describe the solution you'd like**
Make it poss

[2021-03-17 14:12] #153 closed

[2021-03-18 15:10] hadilou commented on #13
Hi @SkalskiP . Thanks for the great work. I have enjoying the tool lately :)

I want to point out that [truncated](https://github.com/AndrewCarterUK/pascal-voc-writer/blob/e41bea5b2edcd8021fe585395e5cb6b272a1626b/pascal_voc_writer/templates/annotation.xml#L17) and  [difficult](https://github.com/AndrewCarterUK/pascal-voc-writer/blob/e41bea5b2edcd8021fe585395e5cb6b272a1626b/pascal_voc_writer/templa

[2021-03-28 13:06] panban-ux commented on #147
I currently have annotated txt files with corresponded pictures made from other software and i want to import those annotations as label.txt by drag and drop or import. It doesn't seem to show those annotations or load them. I use the local host Makesence in firefox. Any imputs or i miss something?

[2021-04-01 16:34] balaji-skoruz opened #156 "Import custom model"
I need to import my custom model to  annotate fast. and I have custom objects.
I am using YOLO for object detection.

[2021-04-07 07:44] tadteo opened #157 "Often crashes when importing annotations in yolo format"
I am trying to label a dataset of some thousand images. I have already some label files in yolo format. When I try to import them the website often crash (both local and online)

To facilitate the integration I have subdivided the dataset into batches of 1000 images+labels. Importing the images is not a problem but when importing the labels often it crashes.

To replicate:
- Import the folder of i

[2021-04-12 13:33] wilmarvanommeren opened #158 "Shortcut for adding a label gives typeerror"
**Describe the bug**
Shortcut for adding a label gives TypeError (Uncaught TypeError: labelNames[1] is undefined)

**To Reproduce**
Steps to reproduce the behavior:
1. Add Images and a single label (with two the first label works, but the second doesn't)
2. Add label to annotation with cntrl+0
3.  See error

**Expected behavior**
Label assigning without errors

[2021-04-21 09:14] kalfasyan commented on #32
Same problem as @hemanth-thallapaneni. I get an unexpected occurred while parsing my yolo txt file.
Example few lines of my yolo txt file:
`t,0.6894723865877712,0.053782894736842106,0.008629191321499015,0.011513157894736841
v,0.8583579881656804,0.06036184210526316,0.011587771203155819,0.015460526315789473
v,0.5878944773175543,0.06546052631578947,0.01282051282051282,0.017105263157894738
m,0.7287968

[2021-04-21 09:47] kalfasyan commented on #32
@hemanth-thallapaneni after converting my string labels to integers and using spaces instead of commas, makesense.ai managed to import my annotations

[2021-04-23 16:44] ZZWENG opened #159 "Please add support for importing annotations as a single csv file"
Thanks for making make-sense, it has facilitated the annotation work a lot. Please see the below feature request for a small suggestion.

**Is your feature request related to a problem? Please describe.**
When exporting the annotations, there is an option "exporting as a single csv file". However, when I wanted to load the anntotation back, I noticed that there is no option to "import as a single

[2021-04-26 08:33] TheoBertrand11 commented on #159
Hi, as a PhD student I must say that the software is easy to use and really helpful, thanks ! Adding a message here to support the need for CSV data import feature.

[2021-04-26 19:18] victor-yon commented on #159
As another PhD student I have the same need for CSV import.
I asked about this feature on Gitter but still no answer form the author.

I will try to code this feature and open a pull request.

[2021-05-04 15:19] victor-yon commented on #159
Well, I'm trying but I'm not a JS / TypeScript dev and the code is not documented so the task is not so straight forward.

I may continue if someone explain me what this function is supposed to return : https://github.com/SkalskiP/make-sense/blob/48d4270240ba203aed2c1244946634aafb5c8e21/src/logic/import/coco/COCOImporter.ts#L57

[2021-05-05 18:24] PaulGronwald opened #161 "Zoomarea-Selector"
**Feature request relation**
Zooming into an image realtive to mouseposition has no effect and default zoom-midpiont seems to be image-midpiont.

**Feature correlation**
Using **keyshortcuts** (e.g. "ctrl +a" -> "zoom-area") and drawing a rectangle which to zoom onto [or using the midpiont of the drawn rectangle, if drawn rectangle to small].

**Feature startingpiont**
Zooming into an image by usi

[2021-05-10 20:10] #140 closed

[2021-06-12 06:07] YingzheLiu opened #163 "Import Annotations Failed Saying Given predicate results in more than one value being matched"
**Describe the bug**
My image and label files are named such as `Picture-2021-06-11_11.45.32_00000001.jpg` and `Picture-2021-06-11_11.45.32_00000001.txt`. I am using "Import Annotations" but it fails with the error message saying "Given predicate results in more than one value being matched". I tried to only select one `.txt` file and that works. I tried to change my files names to something very

[2021-06-18 14:57] charliebudd opened #164 "Respect directory structure (or at least provide warning)"
**Is your feature request related to a problem? Please describe.**
I uploaded a directory of sub directories, with each sub directory containing images (image_1.jpg, image_2.jpeg etc.).
After 2 hours of labelling I export only to find the image tag for each annotation simply says "image_1.jpg" rather than "set_1/image_1.jpg", so I connot relate each label to the correct image as there are multiple

[2021-06-22 08:59] manaclan commented on #32
Hi @SkalskiP, I got the same problem as @hemanth-thallapaneni. I tried to import my new exported YOLO annotations but the annotations didn't appear. Here is one of my labels.txt
0 0.533922 0.234206 0.191063 0.184900

[2021-06-29 20:37] jay-bhambhani commented on #32
@SkalskiP - I actually think I can help you with this! My company loves makesense, and we want to scale it out. I might be able to help by creating a something similar to https://github.com/jupyterhub/kubespawner for kubernetes. would you be interested in taking a peek once I get going?

[2021-06-29 20:49] CaseGuide commented on #164
A work around might be to take your file list an generate importable labels, if possible for your use case.

[2021-06-30 08:01] charliebudd commented on #164
The order of the images is abit scrambled on import so this is not possible, but a good suggestion. I relabeled the images, just thought I would flag it as a usability issue here.

[2021-06-30 10:40] flugenheimer opened #165 "Question: Limited Zooming"
First of, I really like this tool: its simple, elegant, and has a lot of potential!

The zooming seems to be limited at the moment. I would like to annotate relative small features in realtively large images.

I've taken an example image here:
![PXL_20210630_095400801](https://user-images.githubusercontent.com/42116998/123947006-22657000-d9a0-11eb-8ea0-e8c63901746a.jpg)

This is the closest I can

[2021-06-30 14:14] flugenheimer commented on #165
Found the solution. The settings file is under src/settings/ViewPointSettings.ts
[code]

Changing MAX_ZOOM allows you to zoom even further.

It does however get very slow and laggy when zoomed in a lot. This makes it a lot harder to annotate. Im going to create a new issue with this as a bug insted and close this one

![image](https://user-images.githubusercontent.com/42116998/123975363-8f3b3300-d

[2021-06-30 14:14] #165 closed

[2021-06-30 14:26] flugenheimer opened #166 "Lagging and strange behavior when zooming a lot"
**Describe the bug**
When zoomed in more than the standard max zoom, the software becomes slow and byggy

**To Reproduce**
under src/settings/ViewPointSettings.ts change MAX_ZOOM to 100

[code]
Use this image
![PXL_20210630_095400801](https://user-images.githubusercontent.com/42116998/123977896-b0048800-d9bf-11eb-9607-fb9d7ff4b278.jpg)

Zoom in until things become slow and buggy.

**Expected behav

[2021-07-05 11:08] Bernstein7z opened #167 "Click outside the image - Line"
**Describe the bug**
By clicking outside the image it runs throw an error if line is selected as the label type

**To Reproduce**
Steps to reproduce the behavior:
1. import an image
2. select line as label type
3. click on grey area around the image
4. error message: `TypeError: Cannot read property 'x' of undefined`

**Expected behavior**
It should do nothing.

**Desktop (please complete the foll

[2021-07-12 10:22] TheoBertrand-Dauphine commented on #159
Hi, sorry I'm not a really competent developer, even worse in JS or TypeScript.
Writing here to see if any progress has been made?
Thank you for everything

[2021-07-14 18:19] Sounder317 commented on #80
I would like this to

[2021-07-15 13:04] THRUST-AI opened #168 "Zooming at the pointer location instead of the center of the image"
The problem: I use zoom (ctrl+wheel up) a lot and I find it uncomfortable that it zooms to the center of the image, instead of zooming at the pointer location. When it zooms to the center, I need to scroll through the image (shift+wheel or wheel) to my zone of interest.

Feature request: "ctrl+wheel up" should zoom the view making the center at the pointer location, instead of the center of the im

[2021-07-19 20:56] wyattroberts commented on #32
The ability to edit existing annotations would seem like a trivial change to implement. Your program is absolutely fantastic! However, the inability to edit existing annotations is a showstopper. I just wasted hours of my time :(

[2021-07-23 16:13] DR2495 opened #169 "saving my continuous progress so i won't have to start over."
saving my continuous progress so I won't have to start over.

[2021-08-13 03:21] iamfaith commented on #169
I suggest make-sense should add the concept of projects. We can click ```new project``` to start our work and save for next time.

[2021-08-15 10:10] wvierber opened #171 "Invalid YOLO annotations exported for bboxes on the edge of an image"
**Describe the bug**
When bounding boxes align with an edge of the image, it often occurs that invalid YOLO annotations are exported. This gives an error when annotations are imported in other tools, e.g. [albumentations](https://github.com/albumentations-team/albumentations).

Example on a 1920x1080 image for y_max:
- For reference, bounding box as exported in csv format: `[444, 998, 90, 82]`
- B

[2021-08-26 20:38] StefanCiobanu1989 opened #172 "No draw bounding boxes"
Hi,
After uploading the images and setting up my lables i cant do anything, i can't draw any bounding boxes and the editor seems to miss alot of buttons which should become available after importing the images . Could someone let me know what can i do ? Thank you !

[2021-08-27 08:24] #172 closed, assigned to SkalskiP

[2021-08-27 18:30] hqm opened #181 "when reloading an annotations file, polygons show up as rectangles"
**Describe the bug**
I labeled some polygons on some images, and exported the dataset as COCO JSON file

When I reload the page and add the images, then import that saved annotations file, the annotations
appear as bounding box rectangles, rather than polygons

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  makesense.ai
2. Click on Drop Images,
3. drop some images in
4. load a labels.

[2021-08-28 19:43] SkalskiP opened #187 "test-issue"
![make-sense-ico](https://user-images.githubusercontent.com/26109316/131229187-1d93dc42-963c-440e-8f38-53ee72a2260d.png)

[2021-08-30 09:03] SkalskiP commented on #171
Hi @wvierber! I've worked on that issue over the weekend. After the changes, YOLO export will produce the following results:
- For `[444, 998, 90, 82]` -> `[0.254688 0.962037 0.046875 0.075926]`, where `0.962037 + 0.075926/2 = 1.0`
- For `[1828, 710, 92, 104]` -> `[0.976042, 0.705556, 0.047916, 0.096296]`, where `0.976042 + 0.047916/2 = 1.0`
- For `[0, 138, 80, 70]` -> `[0.020833, 0.160185, 0.0416

[2021-08-30 20:18] SkalskiP commented on #141
Hi @flocreate, I started to work on this issue: https://github.com/SkalskiP/make-sense/pull/190. However, I still have a lot to go. I will let you know about the progress.

[2021-08-31 18:57] SkalskiP commented on #171
I am closing the issue. Solved.

[2021-08-31 18:57] #171 closed

[2021-09-01 19:48] SkalskiP commented on #124
Hello 👋. @LuquesP, @ConstantineK, and others interested in that issue.  I am also very sorry for the late reply. Work factors have meant that I have had no time to develop MS. However, I am starting work on the make-sense beta, and I want this issue to be part of it. I feel that I can offer you a toggle button setting, that would change the color of the cursor and crosshairs between white and blac

[2021-09-01 21:09] ConstantineK commented on #124
You should consider having it slightly more customizable if you can(maybe just an html color field in settings somewhere?) because depending on the source images you are tagging white/black might be a big part of the corpus and fit in with it, maybe you want pink/red (because human attention is drawn to more red colors) or maybe your are red/green colorblind and you want something that sticks out

[2021-09-02 06:36] SkalskiP commented on #124
Hi @ConstantineK, thank you for such a quick response as well as for drawing my attention to further aspects that I had not taken into account. That task is part of the bigger picture. Long story short: up until now, make-sense did have a consistent color scheme. Nothing was really customizable. I wanted the tool to look nice and did not take into account the usability aspect. Just yesterday I cre

[2021-09-02 06:37] SkalskiP commented on #132
@ZahraAnam that should no longer be an issue. We bumped the version or all our dependencies as well as node version to `12.x.x`.

[2021-09-03 05:46] SkalskiP commented on #164
Hi all. I have done some reconnaissance and already have a plan of action prepared. Within this issue we will implement the following changes:
- We will verify the structure of the uploaded data. If subdirectories with photos have been uploaded, we will inform the user that this structure will be lost when uploading photos to the editor. I wondered if it would be possible to maintain this structur

[2021-09-03 13:42] TheoBertrand-Dauphine commented on #159
Hello @SkalskiP , my use case is quite simple, but I think adding the possibility to reload a file of points stored in csv format would be useful to all users.

My usecase :
I use make-sense.ai to make a dataset of interesting points that I find on a grey levels image. makesense.ai outputs (via export annotations) a csv file containing the columns (labels, x coordinate, y coordinate, image filenam

[2021-09-03 21:00] #141 closed

[2021-09-03 22:04] SkalskiP commented on #159
Hello, @TheoBertrand-Dauphine am I wrong, or your use case is actually related to that issue: https://github.com/SkalskiP/make-sense/issues/129?

[2021-09-03 22:26] #167 closed

[2021-09-04 09:41] SkalskiP commented on #164
@charliebudd what operating system are you using?

[2021-09-05 09:43] SkalskiP commented on #164
@charliebudd Unfortunately I cannot reproduce this error on macOS.

[2021-09-05 15:24] SkalskiP commented on #108
Hello @lester1027, I'm closing that issue as it is a duplicate of #124. However, we do not intend to swap this issue under the rug and if successful we will add it in the upcoming release.

[2021-09-05 15:24] #108 closed

[2021-09-05 20:18] #87 closed

[2021-09-06 12:30] TheoBertrand-Dauphine commented on #159
It seems like it is the same, yes.

[2021-09-11 10:35] MM629 opened #200 "What's the format of the label.txt?"
Makesense.ai requires a label.txt when I import annotations.

So whats the format about label.txt, I think this file is use to tell mankesense.ai how many labels are there and whats their name.

Thank You Very Much

[2021-09-12 10:35] SkalskiP commented on #200
Hello 👋 , @MM629. Your hunch is correct. `label.txt` file contains a list o class names, where each class name is defined in a new line. For example:

[code]

[2021-09-13 11:54] SkalskiP commented on #200
I'm cloasing this issue as solved :)

[2021-09-13 11:54] #200 closed

[2021-09-13 20:14] Skiid commented on #75
That function would come in very handy with any static camera setup where we only need to do smaller adjusmtents.

[2021-09-14 09:14] SkalskiP commented on #75
Hi @Skiid 👋  ! If there is still demand for this feature, I will add it to the scpoe make-sense beta.

[2021-09-14 13:06] hallowcard13 opened #201 "How can achieve this format on exporting to CSV"
` TRAIN,gs://folder/image1.png,car,0.1,0.1,,,0.3,0.3,,`

I following this tutorial on https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker_object_detection.ipynb#scrollTo=xushUyZXqP59

and i want to re train the model with my own dataset. I tried exporting it to csv, But when i run the code to train the model i got  an error `Attrib

[2021-09-14 15:51] Skiid commented on #75
@SkalskiP Thank you that feature is highly desired. At least for my workflow 😁.

[2021-09-16 07:25] rasyidf commented on #101
I think this will be viable if Electron support added into MakeSense.

[2021-09-16 07:40] rasyidf opened #202 "Preserved Preferences (Settings Page)"
**Is your feature request related to a problem? Please describe.**
It is always frustrating when we don't have global settings page / drawer / modal that can be used to preserve our preferences. moreover, with some customization that will be added in the future, (cursor color, layout?, defaults, language?, themes?) it needs some sort of settings ui

**Describe the solution you'd like**
we can agre

[2021-09-16 07:49] rasyidf opened #203 "Separate Landing with real app."
**Is your feature request related to a problem? Please describe.**
I'm an inexperienced UX/UI designer, as I mainly doing backend and ML jobs, but having to always click start button to show the file drop box every time we have to start a new session is somehow unnecessary, in fact, aside from aesthetic, the animation doesn't provide anything valuable like content loading as the underlying dop box

[2021-09-16 07:55] rasyidf commented on #52
What if,
we just add GitHub login capability, and allow users to sync settings, and their project on GitHub repository. isn't it collaborative enough?

[2021-09-16 07:56] rasyidf commented on #52
[Perceptilabs ](https://www.perceptilabs.com) already implemented this by using github repo as their project storage

[2021-09-16 08:19] rasyidf commented on #169
Hi @SkalskiP , I found something interesting here :
[Paint.js](https://github.com/christianliebel/paint)

[2021-09-16 18:17] SkalskiP commented on #203
Hello @rasyidf  👋  ! Thank you so much for your interest in make-sense. It seems that great minds think alike. Few weeks ago I started working on make-sense beta. As one of the elements, I would like to make a landing page on https://www.makesense.ai and host an editor on https://www.makesense.ai/editor. I would like to use https://spline.design/ to add an interesting animation to the homepage. I

[2021-09-16 18:30] SkalskiP commented on #202
Hi @rasyidf 👋   and once again thank you for your interest in makes-sense. It's very nice to know that we're already at that stage of the project that we should have a separate tab / popup with the settings. The thing that immediately comes to my mind is, setting the cursor color. A lot of users ask for this and I think it's a great opportunity to build the view you're talking about right away.

I

[2021-09-16 18:34] SkalskiP commented on #201
Hello @hallowcard13 👋. Is this a problem with make-sense?

[2021-09-16 18:45] SkalskiP commented on #169
Hello, once again @rasyidf  👋. That is a true, very interesting project. But... what is the relation of paint.js with that issue? 🧐

[2021-09-16 18:50] SkalskiP commented on #52
Hello, once again @rasyidf 👋 . But is it possible only with the front end or would we need to implement the backend for that? I'm looking for a solution, where we would not need any backend. I do not know if it is possible to use git using js in your brawser. I'd need to read about it.

[2021-09-17 00:41] hallowcard13 commented on #201
No it's not from make-sense app. I was trying to ask if there is a chance we can do the same csv format on that tutorial provided by google

[2021-09-17 05:47] SkalskiP commented on #201
@hallowcard13 could that format be AutoML format? If so tan we already have issue about that https://github.com/SkalskiP/make-sense/issues/80

[2021-09-17 11:54] hallowcard13 commented on #201
yes it is, Saw and read about the issue. I can help you, i know javascript and react but 0 on typescript hehe. If you could point me into which class or file is responsible for creating the csv and vertices that would speed up the process and for me to learn about typescript. Looking forward thank you

[2021-09-17 15:09] SkalskiP commented on #201
Great! Happy to see you would like to give me a helping hand 🙋 ! The file that you are looking for is `make-sense/src/logic/export/RectLabelsExporter.ts`. The method that parses rectangle labels to CSV is `RectLabelsExporter.exportAsCSV`. It would be also great if you could update our docs and provide some info on that file format. Simple update of that `make-sense/docs/export.md` file will be eno

[2021-09-17 18:58] rasyidf commented on #52
Correct me if I'm wrong, but if what you referred as front end is this repo,
then of course yes, we can add Oauth2 inside the react.
see : [medium - use github oauth as sso react](https://medium.com/front-end-weekly/use-github-oauth-as-your-sso-seamlessly-with-react-3e2e3b358fa1 )

and then use github gist as bases of our storage. with api token.
see : [gist api docs](https://docs.github.com/en/re

[2021-09-17 19:05] rasyidf commented on #169
I guess I missed the details before,

If we want to fully utilize the PWA capability to just install the webapp locally, then integrate file handler.

[Web.dev file handling](https://web.dev/file-handling/)

we,  as a user can

- start project
- do stuff
- save as myproject.mks (for example)
- close the app

on our desktop,

- click myproject.mks.
- resume works.

[2021-09-17 19:14] rasyidf commented on #203
Hi @SkalskiP, It's nice to be part of this awesome project, I have some idea with some flow, and perhaps I can help you with that, but I don't think I can make it soon enough. I have 1 weeks till I'm fully recovered and reach my desktop to start design, maybe well discuss next week.

[2021-09-17 19:27] rasyidf commented on #202
I'm currently using makesense as our research tools, and I've been using it for a while, this is great project, and worth contributing. glad to be part of this community.

yes, the cursor is sometimes off, especially on white image.

![image](https://user-images.githubusercontent.com/28984914/133842669-68065b84-f3c9-4db9-a177-20b2336d42bd.png)

settings up default colors for labels, is also comes

[2021-09-20 10:07] SkalskiP commented on #202
Thank you so much for your kind words. I hope that this is not the end of the journey and with the help of creative people like you we can make some more noise. Regarding the cursor color, I am aware of this problem and will try to add this functionality in the near future.

@rasyidf what do you mean by `settings up default colors for labels` ?

[2021-09-20 10:09] SkalskiP commented on #203
@rasyidf no problem. Maybe we could set up some call and talk this week?

[2021-09-20 10:38] SkalskiP commented on #169
@rasyidf I was thinking about it. We could do something similar. But to make it work similarly - load a whole project from a single file, we would need that file to be quite big. We would need to use some kind of zip structure and hide all images inside along with labels and metadata required.

[2021-09-20 10:44] SkalskiP commented on #52
@rasyidf of so you suggest we would use gists not repost to support collaboration?

[2021-09-21 02:07] hallowcard13 commented on #201
Thank you for the information i will find sometime this weekend to start working on it. I'll keep you posted on PR

[2021-09-21 06:17] SkalskiP commented on #201
@hallowcard13 this is great! I'm so happy to hear that ;)

[2021-09-21 14:26] rasyidf commented on #169
I see, so basically you want the project behave like open Document format. read here => [Wikipedia Open Doc.](https://en.m.wikipedia.org/wiki/OpenDocument)

make a zipped folder, with Metadata and every assets.

[2021-09-21 14:35] rasyidf commented on #202
[code]

I mean this.

[2021-09-21 19:47] SkalskiP commented on #203
What communication channel do you prefer? Is Google Meet ok?

[2021-09-21 19:49] SkalskiP commented on #202
I was rather thinking that we could save that not in settings but in the saved project - #169. Label colors would be one of project metadata.

[2021-09-21 19:52] SkalskiP commented on #169
Yes but instead of using XML we would use JSON to store labels and metadata. We are already saving zip in TypeScript so I do not think it would be an issue. One thing that is worrying is the size of the saved file. It can be easily a few hundred MB. So for some users with slower machines it can be an issue :/

[2021-09-22 10:29] vahuja4 opened #206 "Installation on Mac M1 taking forever"
The title states it. My internet speed is 30 Mbps download, so that is not the problem. It is just taking forever to install make-sense on my Mac M1.

[2021-09-22 13:05] SkalskiP commented on #206
Hi @vahuja4👋  ! I'm really sorry to hear that. Unfortunately, I'm not using Mac M1. But I'll try to reach out to my friends and try to run some tests.

[2021-09-23 15:44] rasyidf commented on #169
If the make-sense is installed offline. how about making it folder based project with something like .sense/ subfolder with it's workspaced settings.  it's opinionated but can be easily predicted by program

something like this : project.json
[code]

then, we can make the folder structured as described, then load it and the images will be lazy loaded, after every setup finalized.

[2021-09-23 15:48] rasyidf commented on #203
that will do, we can discuss this more at twitter.

[2021-09-23 15:57] rasyidf commented on #203
Anyway, I visited spline and it was awesome, we can also imitate their design system (separation of landing, docs, and app, but on a single domain.)

[2021-09-23 16:03] rasyidf opened #207 "Feature Request : Simple Image Tweaking / Filter"
**Is your feature request related to a problem? Please describe.**
Would it be better if we can change the brightness, gamma, contrast, or just make it grayscale to  manipulate images. make it session / project based, that can persist when selected image changed.

**Describe the solution you'd like**
Something like drawer or panel that can manipulate base image tweaking. Brightness, Contrast, Shad

[2021-09-23 16:13] rasyidf opened #208 "Feature Request : Image Preprocessing"
**Is your feature request related to a problem? Please describe.**
While tagging or creating annotation, it's necessary to have the dimension, state, and details preprocessed to make detection easier. something like simple image processor. that can be applied to project images would be good feature.

**Describe the solution you'd like**
Add Preprocessing Pipeline like

- Grayscale
- Resize
- Matte

[2021-09-23 16:32] rasyidf opened #209 "Feature Request : Statistics"
**Is your feature request related to a problem? Please describe.**
Addings some statistics of project would be great to make it easier to report (academically, perhaps).

something like (not sorted but would be great to be added):

- [ ] Images Status-> (Missing / Corrupted, Blurred, Rejected, Succeed )
- [ ] Class Ballance -> Under Represented, Over Represented.
- [ ] Annotation -> Count, Average

[2021-09-23 16:47] rasyidf commented on #206
It might be because of tensorflow.js need to compile into binary.

i found some tricky step in [stackoverflow](https://stackoverflow.com/questions/66462857/tensorflow-js-error-on-mac-os-11-with-m1-chip)

Steps to use it with tfjs-node in mac m1

- Download libtensorflow from the link https://drive.google.com/file/d/1zo59yNayVtewvOXvFG-pSy2Jgrcqwkj4/view?usp=sharing
- Copy to <YOUR_PROJECT>//node_m

[2021-09-24 10:01] SkalskiP commented on #206
@vahuja4 could you take a look at the solution proposed by @rasyidf?

[2021-09-24 10:10] SkalskiP commented on #203
I agree. That would be a perfect structure. As for the landing page and editor, things are clear to me. I need to explore how to deploy docs on https://www.makesense.ai/dosc

[2021-09-24 10:11] SkalskiP commented on #202
Hmm... you think people would like to have a default color palette?

[2021-09-24 10:20] SkalskiP commented on #169
@rasyidf that's an interesting suggestion, but I really wouldn't like to have a separate solution for people using make-sense online and offline. We have around 6000 people visiting https://www.makesense.ai/ every week. And I think that we should build new features mostly for those people.

[2021-09-24 10:29] SkalskiP commented on #209
Hello, again @rasyidf 👋  isn't that a duplication of #76?

[2021-09-24 10:52] SkalskiP commented on #207
Hello, again @rasyidf 👋  This is such a good idea 😮 ! It is such a cool feature and something that we could be proud to have. However, we need to plan it in more detail. Questions that immediately come to my mind:

1. Do we want to preserve the result of that operation or is it just temporal to make it easier to label? If we want to preserve results this task would be dependant on #169 as we, firs

[2021-09-24 10:56] SkalskiP commented on #207
@rasyidf we should also think about task prioritization. We have lots of new ideas, and that is great! But we need to focus and decide which of them are most crucial and have the biggest impact and start with those. I was thinking maybe we can use https://github.com/SkalskiP/make-sense/discussions to do that?

[2021-09-24 14:25] rasyidf commented on #203
what hosting provider you're using? does it have subdomain management feature available? like docs.makesense.ai app.makesense.ai and just makesense.ai

[2021-09-24 14:31] rasyidf commented on #202
well, thats just my assumption on how some ux even back from early desktop apps still using. look at windows command prompt, powershell, and even windows terminal, they shared same feature about default profile:
![image](https://user-images.githubusercontent.com/28984914/134691394-c213db7f-90d9-4c80-85ff-d631676a7828.png)

It's not necessarily important, but perhaps would be a good UX

[2021-09-24 14:54] rasyidf commented on #207
you're right, we should prioritize more on completing beta phases. and discussion board would be a great idea. let's discuss more there.

[2021-09-24 14:55] rasyidf commented on #209
ouch that's my bad, I'll move it there. and close this

[2021-09-24 14:55] #209 closed

[2021-09-24 14:55] rasyidf commented on #76
Addings some statistics of project would be great to make it easier to report (academically, perhaps).

something like (not sorted but would be great to be added):

 Images Status-> (Missing / Corrupted, Blurred, Rejected, Succeed )
 Class Ballance -> Under Represented, Over Represented.
 Annotation -> Count, Average, Class Represented, Heatmap
 Image -> Average Size, Range, Aspect Ratio Distribut

[2021-09-26 15:12] kevkid commented on #121
Yes, I am experiencing this issue:

[code]

[2021-09-26 15:51] kevkid opened #210 "Can't install via docker or npm - npm ERR! code ELIFECYCLE"
**Describe the bug**
Can't install via docker or npm

**To Reproduce**
Steps to reproduce the behavior:

1. git clone https://github.com/SkalskiP/make-sense.git
2. cd make-sense
3. docker build -t make_sense docker/

**Expected behavior**
For it to build the docker image

**Actual behavior**
[code]

Similar error occurs when building with npm/nodejs

Ubuntu 20.10
node v12.22.6
npm  v6.14.15

[2021-09-27 02:37] iamdman commented on #210
Yes I am having same error as you @kevkid

[2021-09-27 10:22] SkalskiP commented on #210
@kevkid and @iamdman I'll take a look at it today.

[2021-09-28 23:24] iamdman commented on #210
Any progress @SkalskiP ?

[2021-10-01 19:54] kevkid commented on #210
Any updates @SkalskiP

[2021-10-02 06:32] hbouy commented on #210
same issue here! any update?

[2021-10-06 09:43] HansTierens commented on #210
Updating the node-version in the Dockerfile solved the problem for me:

FROM node:14.18.0
RUN ...

Node 14.18.0 is the current LTS.

[2021-10-10 12:47] GabPete opened #211 "Is the new type of sorting image pile correct or has something bugged?"
**Describe the bug**
Back in time when I was working with my images they all were sorted as follows: 0, 1, 2, 3; right now the same pile of files is sorted 0, 1, 10, 100, 101, 102 etc. This situation in the field of ordered manner of pictures really annoys me. Is there anything I can do about it? Or shoud it be like that?

**To Reproduce**
Steps to reproduce the behavior:
1. Simply start the proje

[2021-10-18 22:40] scottamain opened #212 "Next/Prev shortcut doesn't work from left panel"
**Describe the bug**
The next/previous keyboard shortcut only works when the browser focus is on the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Open several images for object detection annotation
2. Click an image in the left panel
3. Press OPTION+RIGHT (on Mac) to navigate to next

**Expected behavior**
Navigates to next. But nothing happens. I must click on the large image view

[2021-10-18 23:52] scottamain opened #213 "Delete an image from the dataset"
**Is your feature request related to a problem? Please describe.**
While annotating my dataset, I realize some images are garbage and don't want to use them.

**Describe the solution you'd like**
If there are no labels, pressing delete will remove the image completely. (The delete key already works to delete a label, so all labels would have to first be deleted before you can remove the image.)

[2021-10-21 20:31] SkalskiP commented on #212
I changed the label of that task from `but` to `new-feature` as right now we do not support any shortcuts in the left and right panels.

[2021-10-21 20:43] SkalskiP commented on #210
@HansTierens and @scottamain if I understand correctly updating Dockerfile

`FROM node:12.10-slim` -> `FROM node:14.18.0`

Solved that issue?

[2021-10-21 23:15] arronsullivan commented on #207
This would be very helpful.  Specifically just allowing basic min/max contrast settings. Just to make it easier to label, not to be retained.
Fiji/ImageJ has a nice 'auto' contrast where it sets the max such that 5% of pixels are saturated I believe, a very nice shortcut to see dim images.
Another 'advanced' setting would be to apply a user set min/max contrast to all images as they are opened/vie

[2021-11-04 13:01] GabPete commented on #211
Dear @SkalskiP, thank you for the response.
The situation goes as follows - my data base is too wide for me to rename it; a collague of mine proposed the same, but in the situation of having hudreds of pictures, that doesn't fit me. Would you propose another solution for the problem?
Best regards, GP.

[2021-11-05 08:15] SkalskiP commented on #211
Hi @GabPete 👋  ! Of course, I'm not suggesting you manually rename hundreds of photos. This could potentially be fixed with a simple script in Python.

[2021-11-08 14:21] AxelAli commented on #169
I believe we could use either indexedDB (similar to MySQL) or  https://developer.mozilla.org/em/docs/Web/API/Window/localStorage.
We could store the pending annotations by item name/hash into indexedDB and that would persist by the user side without the need for any storage on our servers (this being particularly important in our client-side system)

[2021-11-08 15:04] SkalskiP commented on #169
Hello, @AxelAli 👋  ! Many thanks for your interest in our project and for your ideas. However, both of them have some drawbacks that will probably stop us from using them.
- `DB` - To minimize the cost MakeSense is a purely frontend-based solution. Consequently, the proposed solution must work without a backend. The DB would have to be hosted somewhere which would result in a cost to the project.

[2021-11-08 15:25] AxelAli commented on #169
Hi @SkalskiP , IndexedDB lives in the user's browser, no installs required.
Here you can see an example [https://mdn.github.io/learning-area/javascript/apis/client-side-storage/indexeddb/notes/](demo) (Try adding a note, changing the URL to Google or something, and open the same link in another tab), notes will persist.

[2021-11-10 08:49] SkalskiP commented on #169
Hi @AxelAli! I have to admit that these are very interesting ideas. 💪  I'll have to look into that. I'm curious to see how efficient this solution is. We have to remember that projects have very often 500 or 1000 images. But thank you very much for this idea. I am also sorry that I reacted so negatively. I was simply not aware of the existence of this feature. 🙏

Let me do the research.

[2021-11-11 12:22] atilatosta commented on #210
Making the change to `FROM node:14.18.0` worked for me

[2021-11-12 07:58] SkalskiP commented on #210
Hi all 👋. From your reactions and comments, I conclude that the proposed solution fixes the problem. In this situation, I will make the appropriate changes to the Dockerfile in a moment.

[2021-11-12 08:08] #210 closed

[2021-11-16 21:16] Jaster111 opened #216 "Textual labels converted into numeric labels on export"
**Describe the bug**
Exporting the labels turns them into numeric values. For example, if you had labels ("Road", "Bridge", "Grass") it turns them to ("0", "1", "2"). This is a bug I have recently encountered, for sure it didn't always act like that.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Chrome

[2021-11-17 08:52] SkalskiP commented on #216
Hello @Jaster111 👋 ! What export type are you using?

[2021-11-17 12:44] Jaster111 commented on #216
Hi @SkalskiP ! I am exporting as a zip package containing files in YOLO format, using the bounding box technique. Don't know if I have suddenly started doing something wrong or did something else change.

[2021-11-17 15:49] albertotestoni opened #217 "Annotation timestamp"
Hi! I am setting up an annotation experiment using your makesense platform. That's a super great and useful tool, thanks for developing it! 👏 I am interested in both object detection and image classification tasks. I would like to save a timestamp for each annotation (for example, in the object segmentation task I would like to get a timestamp for **each** bounding box). Is it possible to get this

[2021-11-18 08:04] SkalskiP commented on #216
@Jaster111 so the problem is that you are getting labels in this format:

[code]

Where the first column is the class.

[2021-11-18 08:11] SkalskiP commented on #217
Hello @albertotestoni 👋  ! Thank you very much for your question and interest in our project. Unfortunately, no. At this time, we do not store information about the creation date of the label. We don't have that on our roadmap either.

[2021-11-18 11:56] Jaster111 commented on #216
@SkalskiP that is exactly the problem.

[2021-11-18 14:48] SkalskiP commented on #216
Oh, so in that case, it is not a bug. It is exactly as intended. That is how YOLO label format is structured. Take a look at this [article](https://towardsdatascience.com/image-data-labelling-and-annotation-everything-you-need-to-know-86ede6c684b1).

[2021-11-23 07:35] #217 closed

[2021-11-23 07:36] #216 closed

[2021-12-03 09:57] caniko opened #218 "Circular annotation"
**Is your feature request related to a problem? Please describe.**
Yes, I want to annotate in a circular fashion

**Describe the solution you'd like**
Store circle center, and radius in CSV-file

**Describe alternatives you've considered**
I don't know of any

[2021-12-03 10:43] SkalskiP commented on #218
Hello @caniko 👋  ! Could you share with me some more background? What are the use-cases where this kind of labeling is used? :)

[2021-12-03 13:16] caniko commented on #218
My project's name is BiKiPy, the full release is private and in the works, and makesense.ai is quite central for labeling of perimeters/areas/zones. These zones are used for the analysis of raw coordinate data from frameworks such as DeepLabCut and/or LED tracking in animal recordings from behavioral trials.

Circular annotation would be very useful for the annotation of zones that are circular. I

[2021-12-03 14:09] caniko opened #219 "Annotation speed optimization: Annotate along a line or a grid using one annotation shape"
**Is your feature request related to a problem? Please describe.**
Sometimes annotations need to be done along a line or grid with the same shape.

**Describe the solution you'd like**

1. Make a default shape using any of the available annotation methods (rectangle, line, polygon, etc). This should be done on the image to avoid scaling issues.
2. Click on the button for the requested function, an

[2021-12-20 11:25] wwfish commented on #201
Just dropping into figure out if we did manage to get the CSV to export for a float between 0 and 1 as used in ML Vision CSV data import?

Anybody got a work around adapting the pixel coordinates to ML formats between 0 and 1?

[2021-12-20 18:11] SkalskiP commented on #156
@IuliuNovac laid a solid foundation for the implementation of this task, with his last PR. I will work on polishing his idea to add full support for YOLOv5 and uploading your own models trained using this [repository](https://github.com/ultralytics/yolov5).

[2022-01-06 03:47] PIjarihd opened #222 "How can I import annotations?"
I tried to load the existing annotations for YOLO. However, I got the following error.
![image](https://user-images.githubusercontent.com/90297273/148325246-6a4c47af-3822-4d74-abd1-d07be9c6add2.png)
How should I load them. I want to edit the labels (to be more specific, add more labels)

[2022-01-06 16:34] SkalskiP commented on #222
Hello @PIjarihd 👋 ! I know the annotation loading process should be more straightforward. This is one of our goals for this year. In the meantime, I will try to help you. From the screenshot, I assume you will be uploading labels in YOLO format.

1. Load images. For the sake of the example, let us assume that the images have the following names:

- `image-001.png`
- `image-002.png`
- `image-003.pn

[2022-01-07 00:04] PIjarihd commented on #222
Thank You so much for such a simple and step-wise description. It works.

[2022-01-07 00:04] #222 closed

[2022-01-17 07:22] PIjarihd opened #224 "Feature which displays total Items in each class"
I would like to request you to add the feature where I can see the total numbers of objects in each class. I am labelling images for multiple classes. And I am not sure how many images do I have in each class. And, it is really a troublesome job to count because the class numbers is 84. So, is it possible to display automatically? Please add this if possible.

[2022-01-29 15:34] PierreEtienneJ commented on #82
I'm intresting about persistent state. I use make-sense with docker
@JorgeCeja, you have deleted your fork :/

[2022-02-23 09:15] starryskystar opened #233 "Circle and color"
I am adding the function of drawing circles and different colors for each line based on your project, as required by the scene. Any good suggestions?

[2022-02-23 09:15] starryskystar commented on #233
Looking forward to your reply  🙏

[2022-02-23 09:18] starryskystar commented on #218
I have a need to draw circles recently

[2022-02-24 14:26] smitheric95 commented on #218
I would love this feature as well!

[2022-02-28 19:39] SkalskiP commented on #233
Hi, @starryskystar sorry for the late response. I had some problems that slowed me down. Did you started to work on that issue?

[2022-02-28 19:44] SkalskiP commented on #224
Hi @PIjarihd, sorry for the late response. I had some problems that slowed me down. Is that a duplicate of that issue https://github.com/SkalskiP/make-sense/issues/76? Am I correct?

[2022-03-01 02:35] starryskystar commented on #233
Year, our team needs these features

[2022-03-01 08:19] SkalskiP commented on #233
🥳 Is there any initial PR that I could take a look at? Any way that I could assist you?

[2022-03-01 08:19] SkalskiP commented on #233
I also assume this is a duplicate of: https://github.com/SkalskiP/make-sense/issues/218. @starryskystar am I correct?

[2022-03-01 08:54] starryskystar commented on #233
Yes, no problem at all. But I have a few small personal needs 🤗  @

[2022-03-01 08:56] starryskystar commented on #233
Thank you for your reply 🥳

[2022-03-01 12:03] SkalskiP commented on #233
@starryskystar, can I help somehow?

[2022-03-02 02:11] starryskystar commented on #233
🤠 Thank you, I have some ideas! If I have a problem, I will ask you for help!

[2022-03-02 07:06] SkalskiP commented on #233
Sure, just let me know ;)

[2022-03-03 05:36] PIjarihd commented on #224
Yes. You are right.

[2022-03-03 16:21] SkalskiP commented on #224
@PIjarihd In this situation, let me close your issue to clear the list of open tickets. I want you to know, however, that I really want to add this feature to Make Sense.

[2022-03-03 16:21] #224 closed

[2022-03-09 10:10] apanand14 opened #235 "delete point on polygon annotation"
first of all, thank you so much for providing tool for annotation. I have used a lot for my custom data set annotation. I would like to request to have one feature. if it exists then please let me know how to use it.

I would like to have a feature like delete the point on polygon same as adding the point on polygon. Reason behind this as I would like to edit annotation after importing them. I hav

[2022-03-10 08:06] SkalskiP commented on #233
Hi @starryskystar! Any updates here? :)

[2022-03-10 08:27] SkalskiP commented on #235
Hi, @apanand14! I like that idea a lot! I will try to add it as soon as possible.

[2022-03-21 09:51] Chiebukar opened #236 "Annotating images in batches and tracking progress."
Since we often have to annotate lots of images its is impossible to annotate the images on one go. It will be good to be able to save current progress and continue from there later on even we leave the site or PC shuts down.

There is also no notable way to know how  many images have been annotated and the number of images remaining. This is quite useful in tracking progress of work done and left

[2022-03-21 15:35] apanand14 commented on #235
Hello @SkalskiP !! Thank you for considering the request. I hope you add it soon as I'm already waiting and would like to use this feature asap.

[2022-03-23 12:30] jithinvijay commented on #32
It worked for me. To import yolo annotations, you should have a "labels.txt" file along with all the other annotation txt files. The labels.txt file should contain your class names each in a new line. That's it.

[2022-03-29 07:04] SkalskiP commented on #32
@hemanth-thallapaneni, @kalfasyan, @manaclan, @wyattroberts first of all I'm really sorry for the late response. I had some personal problem that basically stopped me from working on make sense. Take a look at this issue. I described here how to reupload your labels into the editor. https://github.com/SkalskiP/make-sense/issues/222

@wyattroberts the ability to reupload labels into the editor was

[2022-03-29 07:06] SkalskiP commented on #32
@jay-bhambhani any updates? Did you manage to scale it out?

[2022-04-13 00:57] jack-bgl commented on #206
Error when installing, using Apple M1 MacBook pro. Seems to relate to Tensorflow?

[code]

[2022-04-14 10:57] SkalskiP commented on #206
Hello, @jack-bgl 👋 ! Unfortunately, I do not have M1 MacBook Pro at my disposal, but I'm happy to cooperate with you in fixing that issue. First of all, did you try the solution proposed by @rasyidf above?

[2022-04-14 10:57] SkalskiP commented on #206
Hello, @jack-bgl 👋 ! Unfortunately, I do not have M1 MacBook Pro at my disposal, but I'm happy to cooperate with you in fixing that issue. First of all, did you try the solution proposed by @rasyidf above?

[2022-04-22 05:24] blackShine-2 opened #241 "Annotation Import Unsuccessful: Unexpected error occured duriong parsing of 2710.jpg annotation file"
I followed the steps mentioned in issue #222. I successfully edited more than 1000 the annotation files too.  But, now I am getting this error. Please look at this.
![image](https://user-images.githubusercontent.com/95059200/164608366-699ce45c-7dd0-4400-98e9-632ae1a9cf8c.png)

[2022-04-24 05:41] SkalskiP commented on #241
Hello @blackShine-2 👋 ! I’m sorry to hear that. I’ll try to help you out, but I’ll need your image and annotation file to do that. I’s it possible that you share those with me?

[2022-04-25 01:19] blackShine-2 commented on #241
I have emailed you in _[piotr.skalski92@gmail.com](mailto:piotr.skalski92@gmail.com)_ from _blackshinepc@gmail.com_. Please find it.

[2022-04-25 18:00] SkalskiP commented on #241
Hi, @blackShine-2! I got your email. I'll try to take a look at it today 🧐

[2022-04-25 18:00] SkalskiP commented on #241
Hi, @blackShine-2! I got your email. I'll try to take a look at it today 🧐

[2022-04-25 21:16] SkalskiP commented on #241
Okay, so I've done some debugging and I know what is the problem.

This is the content of the `2710.txt` label file:

[code]

The last entry of that file is a box with a class index equal to `77`. This is a problem because according to your `labels.txt` file you have only 65 classes.

Did you manually edited `2710.txt` or `labels.txt` file?

[2022-04-25 21:16] SkalskiP commented on #241
Okay, so I've done some debugging and I know what is the problem.

This is the content of the `2710.txt` label file:

[code]

The last entry of that file is a box with a class index equal to `77`. This is a problem because according to your `labels.txt` file you have only 65 classes.

Did you manually edited `2710.txt` or `labels.txt` file?

[2022-04-26 00:05] blackShine-2 commented on #241
Okay. Thank You so much. May be the labelled files are mis-matched.

[2022-04-26 00:05] #241 closed

[2022-04-26 04:22] SkalskiP commented on #241
No problem. I think it would make sense to give users slightly more information. About the accounting problem. I'll try to improve that process in the future.

[2022-04-26 04:22] SkalskiP commented on #241
No problem. I think it would make sense to give users slightly more information. About the accounting problem. I'll try to improve that process in the future.

[2022-04-26 09:05] maxiperaltaaok commented on #85
@prashastham what command goes before  that..../my-app/node_modules/webpack-dev-server/fsevents

[2022-04-27 07:44] prashastham commented on #85
On Linux or macOS `rm -rf` should work, in windows command prompt `rmdir` should work

[2022-04-27 23:50] blackShine-2 commented on #241
Thank You.

[2022-04-30 11:16] santhoshnumberone opened #246 "how to run locally on macbook m1"
Not able to run using `npm`

[code]

error
[code]
I don't know how to build using docker

[2022-05-02 07:28] blackShine-2 opened #247 "Can I know the log (numbers) of items in a particular class?"
It would be very easy if I can know the number of items in each class after labelling is done.

[2022-05-21 13:27] blessdarah commented on #121
I'm also experiencing this issue on m1 mac. Any idea on how to fix it?

[2022-05-23 12:18] Petros626 opened #248 "no shortkey support for faster work?"

[2022-05-23 20:59] SkalskiP commented on #248
@Petros626 could you help me out here. Do you mean keyboard shortcats? Those are listed in project `README.md`.

[2022-05-24 05:04] Petros626 commented on #248
Hey,

yeah I dismiss to read it, but this helps. The ML automation will work after activaiton on it's own without any further key shortcut?

[2022-05-24 07:10] SkalskiP commented on #248
What do you mean by `ML automation`?

[2022-05-24 07:34] Petros626 commented on #248
the ssd for generating suggestions, it's pretrained algorithm and not a new learning by marking some object now

[2022-05-25 11:37] SkalskiP commented on #248
That is true. We only support pre-trained models for now.

[2022-05-25 11:58] #248 closed

[2022-06-08 10:13] sadegh-pz opened #252 "add headers for exported csv file"
It isn't easy to locate xmin, ymin, xmax, and ymax values from the exported CSV file as it doesn't have headers.

I want that when I export using a CSV file, I get a file with headers.

[2022-06-08 10:29] SadeghPouriyanZadeh opened #253 "wrong values from exported csv file and showed rectangular bbox"
here we see that I select two points:

first [5, 10]

![Screenshot (4)](https://user-images.githubusercontent.com/74629673/172594365-694faa88-6b90-4517-aa4d-5ff626581c2b.png)

second [140, 40]

![Screenshot (5)](https://user-images.githubusercontent.com/74629673/172594518-998e7168-aba9-47cc-990d-9b319f81aff3.png)

but exported CSV file saves different values!

![Screenshot (6)](https://user-images

[2022-06-08 11:23] SkalskiP commented on #253
Hi, @SadeghPouriyanZadeh 👋 ! Here are the headers for the result CSV file columns:
`label_name, x, y, width, height, image_name, image_width, image_height`. I know it is not really obvious without headers. But given that information, you can see that for example `135` is simply the result of subtracting `140` and `5`.

[2022-06-08 18:58] SadeghPouriyanZadeh commented on #252
Hi @SkalskiP
Thank you so so much for considering this issue and making changes. I've checked it at the development web app; it was awesome. Now I can use this fast, simple, and adorable app for my annotations.
Now I close this issue here. Thanks again.

[2022-06-08 18:58] #252 closed, assigned to SkalskiP

[2022-06-08 19:03] SadeghPouriyanZadeh commented on #253
Thanks, now it's clear.
It would be helpful for others who have this problem know that x and y are top left corner.
Thank you, @SkalskiP, for your detailed explanation.

[2022-06-08 19:03] #253 closed

[2022-06-08 20:13] SkalskiP commented on #252
No problem @SadeghPouriyanZadeh! Exporting labels via CSV file is not very popular, and that's why that functionality is not as polished as I'd want it to be. All in all, it's great that we could use this opportunity to make it just a little bit better.

[2022-06-10 12:43] SkalskiP opened #255 "Turning annotations on and off"
### Discussed in https://github.com/SkalskiP/make-sense/discussions/251

<div type='discussions-op-text'>

<sup>Originally posted by **dan-goodrick** June  2, 2022</sup>
I looked through the docs and through the issues but didn't see any discussion of this topic.  In my current task, I end up with a bunch of labels that make it hard to see the details of the underlying image. It would be nice if t

[2022-06-22 16:42] DanielJBernard opened #256 "Importing Annotations for keeping progress (COCO JSON)"
I noticed that one problem with this AI was I could export a COCO file as one JSON file with the current annotations on the images I had already completed. However, it seems you can't import that progress at least with COCO JSON Files which is the only type I tested. None of my annotations or the images that I annotated would show up when attempting an import. This was a slight problem because thi

[2022-06-23 12:43] SkalskiP commented on #256
Hi, @DanielJBernard this is really weird... we support COCO JSON import. Could you share with me the COCO JSON file that you are trying to import as well as one or more images that you already labeled?

[2022-06-23 13:29] #256 closed

[2022-06-23 14:26] SkalskiP commented on #256
Great to hear that everything works now! 🚀 In case any new problems would accrue, please let me know!

[2022-07-19 11:14] SkalskiP commented on #255
Hi @dan-goodrick, if you still need that feature it has been added. Until the next release, changes won't be accessible on https://makesense.ai/, however, you can test and use them at https://develop.makesense.ai/. Please let me know in case of any bugs.

[2022-07-19 11:14] #255 closed

[2022-07-22 16:11] SkalskiP commented on #95
Hi @nouyang, what is the proper format to export this kind of dataset?

[2022-07-22 16:13] SkalskiP commented on #247
Looks like the issue is a duplicate of: https://github.com/SkalskiP/make-sense/issues/76.

[2022-07-22 16:13] #247 closed

[2022-07-23 11:52] rasyidf commented on #246
see [tensorflow error here]( https://github.com/tensorflow/tfjs/issues/4514)

[2022-07-25 16:16] rasyidf opened #264 "Migrate Redux to better state management"
Redux is way to old and hard to handle. if I have your permission, I can refactor it to RTK / React Query / Jotai to help better state management and future development. also, this will help us create better settings page.

[2022-07-25 16:31] SkalskiP commented on #264
Problem is that Redux is the only state management that I know. I'm not sure I want to jump into another framework and learn how to use it instead of building new features. Like I said last time, I'm no longer actively working in TypeScript (it is only Python now). So I have little time to expand my TS skills.

[2022-07-25 16:32] SkalskiP commented on #264
@rasyidf are you looking for some tasks to work on?

[2022-07-25 16:58] rasyidf commented on #264
well yes, I'm exercising myself.

[2022-07-25 18:26] SkalskiP commented on #203
I'm using AWS, and it should be possible.

[2022-07-25 18:29] SkalskiP commented on #264
Hm... how about that https://github.com/SkalskiP/make-sense/issues/77?

[2022-07-26 04:09] rasyidf commented on #77
I'll try to take this.

[2022-07-26 07:12] SkalskiP commented on #77
@ahmedbesbes let me know if you have any problems

[2022-07-27 03:22] rasyidf commented on #77
I wanted to add this functionality, but needed a new settings parameter, wondering where exactly do you suggest adding this toggle?

[2022-07-27 07:21] SkalskiP commented on #77
I'll try to prepare some task requirements today. ;)

[2022-07-27 11:18] SkalskiP commented on #77
Hi, @rasyidf 👋! Below you will find guidelines for this task. I tried not only to answer your question but also to point out some problems that may arise.

- [ ] Functionality should be to irreversibly remove the photo from the dataset. So not toggle (on / off) but delete button.
- [ ] User should be able to trigger the deletion of the photo in two ways.
    - [ ] There should be a delete button a

[2022-07-27 15:56] ThangLC304 commented on #236
Or you can write a simple program to move all the images with annotation into a separated folder,
and another one to merge the new annotation file with the old (bbox annotation should be a piece of cake, polygon annotation should take you a little longer).

[2022-07-27 17:07] SkalskiP commented on #236
Hi, @ThangLC304! 👋 Yup! The problem is that people want to use MS as a full-fledged annotation tool. At least for the time being, we have no plans to add such functionalities because their development would require a very large time investment.

[2022-07-27 17:09] SkalskiP commented on #246
@rasyidf do you use Macbook M1?

[2022-07-27 17:21] rasyidf commented on #246
I don't have it ATM. my suggestion is to change the docker image with alpine linux and run it via docker.  tensorflow js wasn't available in M1 yet. so perhaps if containerized. it will work.

another suggestion is to separate the tensorflow to be optional for mac M1

[2022-07-27 17:23] rasyidf commented on #246
perhaps because of this limitation. the only thing to consider is adding warning in the README.MD that for MacBook M1 users you have to use something like vercel or heroku.

I'll keep tracking the official repo of tfjs if it's available (M1 support).

[2022-07-27 17:25] rasyidf commented on #246
whoa, I remember that containerized doesn't mean we changed the cpu and architecture.

if you have virtual machine with x86/ x64 OS inside. it will work.

[2022-07-27 17:27] rasyidf commented on #236
We can start with project based approach. the current project name in the top center wasn't really useful.

[2022-07-27 17:30] rasyidf commented on #77
noted, I'll work on it as soon as I'm done with my engagement party.

[2022-07-27 18:06] SkalskiP commented on #246
Oh... 😞. So in that, we have only one option: Try to make tf.js install optional based on the platform. And then turn off using tf.js in the UI for Macbook M1 users.

[2022-07-27 18:18] SkalskiP commented on #236
I have some ideas for persistence, that would not require building a backend.

1. GitHub API - The user would log in to MakeSense with his/hers GH account, and we would create per project private repo on his behalf and use it for storage. We can thal leverage [GitHub API](https://docs.github.com/en/rest/repos/repos) to read and write to that repo.
2. The File System Access API - a new feature that

[2022-07-27 18:23] SkalskiP commented on #77
🎉 congratulations!!!

[2022-07-28 13:38] rasyidf commented on #246
or hack the way with custom build for M1 and paste into node_modules

[2022-07-28 17:36] johongo commented on #12
https://arxiv.org/pdf/1708.02750.pdf

[2022-07-28 18:07] SkalskiP commented on #12
Hi, @johongo 👋! If I'm getting everything right you think it would be a good idea to enable labeling using for clicks?

[2022-07-28 19:04] rasyidf commented on #236
I guess [this](https://developer.mozilla.org/en-US/docs/Web/API/FileSystemDirectoryEntry ) will do .

[2022-07-28 19:13] #32 closed

[2022-07-28 20:06] SkalskiP commented on #236
I'm not sure. Do you see any way to create a new file here? Also, it is quite interesting if you can create zip files this way. I was thinking we can use `.zip` as the "project" file format, and put images as well as our state JSON inside.

[2022-07-28 20:27] rasyidf commented on #236
creating `.zip` file is a good approach. but maintaining more than 500 mb data will be much harder using zip.

my suggestion is creating project json with list of anotated file. and drop the folder that contained the json. we can crawl every object-names, get the thumbnails, then proceeds, without the need to load everything at once.

[2022-07-28 20:42] johongo commented on #12
Yessir! 😄

[2022-07-28 21:46] SkalskiP commented on #12
Hm... I guess people would like us to support 3 forms of bounding box drawing now :)
- Click and drag
- Two clicks
- Four clicks

[2022-07-28 21:54] SkalskiP commented on #236
You are right 😔 we would need to load the whole `.zip` file from the hard drive to even start processing it. Keeping images separate makes it much more sense as it allows us to load them on demand.

The problem that I see is that then:
- One project, is stored as multiple files on the hard drive
- If a user violates the structure of the project, for example, manually deleting or moving files on di

[2022-07-28 22:17] johongo commented on #12
I think the argument made in the paper is pretty solid. I just thought you would find it interesting, but no stress!

[2022-07-29 20:21] SkalskiP commented on #44
This issue is already implemented.

[2022-07-29 20:21] #44 closed

[2022-08-02 01:29] voicccc commented on #156
hi, Can the branch that can use the yolov5-tf inference model run correctly? Tried the branch '/feature/156_import_custom_model_yolov5', but an error was reported during npm install,

[2022-08-02 08:18] SkalskiP commented on #156
Hi, @voicccc 👋! We are currently in the middle of integration with yolov5, so that branch may currently not work for you.

[2022-08-02 12:42] SkalskiP commented on #76
The work on that feature is in progress: [#268](https://github.com/SkalskiP/make-sense/issues/268)

[2022-08-10 05:04] Bucephalus-lgtm commented on #33
Can MAX_ZOOM not be increased until 10 or 12? Only 4times bigger picture makes it hard for the annotator to annotate the images.

[2022-08-10 06:37] SkalskiP commented on #33
Hi, @Bucephalus-lgtm 👋 I don't think there should be any problem with that. I honestly don't remember why we decided to use 4.

[2022-08-10 07:22] Bucephalus-lgtm commented on #33
In general there is not much of any problem but in case you are to annotate rice from a pile of rices, it's hard with 4times zoom. For example, look at the following image:
![Uploading IMG_20220807_153206838~2.jpg…]()

[2022-08-10 07:25] Bucephalus-lgtm commented on #33
![IMG_20220807_153234236_2 (1)](https://user-images.githubusercontent.com/57415694/183840516-75ab0c75-0af6-44a8-989c-134d91f32a9d.jpg)

[2022-08-10 12:13] SkalskiP commented on #33
🤯 it really looks like a lot of work! I'll try to add this change tonight. I just need to make sure that it wont break anything.

[2022-08-12 10:36] rasyidf commented on #77
I'm just starting this task, hope I can finish it this weekend.

thank you :D

[2022-08-12 12:01] rasyidf commented on #77
* I'm still don't really understand how Image being managed.
* do I have to add deleteById in the Image Repository? or Is it Already Exist?
* Is hotkey for deletion is necessary to be added?

[2022-08-12 21:28] SkalskiP commented on #77
Image management is divided into two parts: `ImageRepository` and `LabelsState`. `LabelsState.imagesData` field stores `ImageData` objects. Each `ImageData` contains fields like `id`, `File` as well as lots of label data. `ImageRepository` is essentially a map matching image `id` from `ImageData` with actual `HTMLImageElement`.

`File` is the object that I get from the browser when the user loads

[2022-08-13 11:42] rasyidf commented on #77
Whoa, thanks for the explanation, I'll try to implement it soon.

[2022-08-13 11:45] rasyidf commented on #77
Actually, I'm new with Redux, so it would take some time.

[2022-08-13 12:43] SkalskiP commented on #77
No worries I understand 🤯! Just let me know if you will have any questions. I’ll try to be as responsive as possible.

[2022-08-14 02:53] vishwajeet1361 opened #271 "it is simply very difficult to save the progress while annoting a large amount of data"

[2022-08-14 07:36] SkalskiP commented on #271
Hi, @vishwajeet1361 👋! This is definitely on our radar.

When you say a large amount of data, how many images are we talking about?

Also, it would be great if you would upvote `Allow for saving and loading your project from hard drive` in our [poll](https://github.com/SkalskiP/make-sense/discussions/269) for the next BIG feature.

[2022-08-14 08:11] SkalskiP commented on #271
Also, it would be great to learn a little bit more about the annotation task that you are trying to perform. So all in all how many images are you trying to annotate, what is the typical resolution of those images and most importantly what label type are you using - boxes, polygons?

[2022-08-15 07:15] MetiBeyene commented on #159
Hello is there any change on this issue or someone able to import csv file share there solution Thank you

[2022-08-16 06:52] SkalskiP commented on #159
Hu @MetiBeyene, what type of annotation box, point, line, or polygons?

[2022-08-16 12:15] MetiBeyene commented on #159
Hi @SkalskiP  thank you for your response, i want to import a csv file for point annotation

[2022-08-17 12:37] SkalskiP commented on #159
@MetiBeyene I'm working on it. I hope we will have bu the end of the week.

[2022-10-04 16:47] SkalskiP commented on #156
@voicccc and @balaji-skoruz  that functionality has been added within https://github.com/SkalskiP/make-sense/pull/276. You can now load pre-trained and custom models to makesense.ai.

https://user-images.githubusercontent.com/26109316/193878510-89bd0e10-1713-4601-872a-dc97a5f22f71.mov

[2022-10-04 16:47] #156 closed

[2022-10-11 08:40] JohannaSopraSteria opened #281 "Support for YOLOv5 P6 Models"
Hi! First and foremost, thanks for adding support for YOLOv5 models 😃

 For my project I am using a [YOLOv5 P6](https://github.com/ultralytics/yolov5/issues/2110) model. When I try to upload this model in the specified format I get this error message:
![image](https://user-images.githubusercontent.com/114214074/195039725-b74c659c-7a6e-441d-95c7-ac4b700828bd.png)

It seems that so far Make Sense, o

[2022-10-11 10:48] SkalskiP commented on #281
Hi, @JohannaSopraSteria 👋! Thanks for letting me know. From what I can see the model fails during inference, not model loading.

First of all, I need to replicate the error. Which weights are you using precisely? `yolov5s6`?

[2022-10-11 10:51] JohannaSopraSteria commented on #281
Correct, I'm using `yolov5s6`

[2022-10-11 11:02] SkalskiP commented on #281
I just tested `yolov5s6`. I converted it to tensorflow.js format `python export.py --weights yolov5s6.pt --include tfjs` and it worked.

So I think there might be another reason. Do you use a custom model (your own, trained on some custom dataset)?

[2022-10-11 11:33] SkalskiP commented on #281
@JohannaSopraSteria could you share with me over email or here, your model along with the `txt` file containing class names?

[2022-10-12 06:57] JohannaSopraSteria commented on #281
@SkalskiP I've shared the file with you via mail.

[2022-10-12 08:12] SkalskiP commented on #281
Hello @JohannaSopraSteria! I'm afraid I haven't got anything. :(

[2022-10-12 08:15] SkalskiP commented on #281
I have it. It was in spam. Let me take a look :)

[2022-10-12 09:17] SkalskiP commented on #281
@JohannaSopraSteria I know what seems to be the problem - input resolution. I hardcoded the input resolution `640`, as it was working for all the models I tested. Your model requires `1280` for some reason. Now I need to think about how to fix it.

- Hardcode it as `1280` - the problem is that the inference will be slower for other YOLOv5 models.
- Allow the user to select resolution. Will take me

[2022-10-12 10:03] JohannaSopraSteria opened #282 "Confusion around UI for uploading labels"
After uploading images, I try to upload my labels.txt file. Once I have selected/dropped it I cannot simply select "Create labels list" nor "Start project" to get started.

The only way I found to use these labels is to select these buttons in the given order:

1. `Start project`
2. `Create labels list` (labels appear in "Create labels" pane)
3. `Start project`

This works, but is quite unintuitiv

[2022-10-12 10:28] SkalskiP commented on #282
Hi @JohannaSopraSteria! Thank you very much for bringing that to my attention. That one should be easy to fix.

[2022-10-12 11:07] SkalskiP commented on #282
@JohannaSopraSteria take a look [here](https://feature-282-confusion-around-ui-for-uploading-labels.d2e9l8xwkaodsq.amplifyapp.com) - it is a test version of makesense.ai with fixed uploading labels popup. Let me know if everything works. If so, then we will merge it.

[2022-10-12 12:27] JohannaSopraSteria commented on #282
@SkalskiP This works great if I press  `Start project` after uploading the files, but if I press `Create labels list` I loose the labels I just uploaded. Still a bit unintuitive for me 😅
![image](https://user-images.githubusercontent.com/114214074/195342362-286c368b-1102-43e5-a8ec-8b8e6fd1b274.png)

[2022-10-12 15:37] SkalskiP commented on #282
Honestly, that part of Make Sense is really confusing to me. :) Apologies for that.

I 100% agree it would be great if you would not lose the list of labels that you just uploaded when you go from one popup to the other. Problem is that it is technically hard as those popups do not communicate with each other.

This is my proposal for now:
- Merge the proposed change as the current behavior is obv

[2022-10-12 21:04] SkalskiP commented on #281
Hi @JohannaSopraSteria! I guess I managed to fix model loading problems. Please take a look at [this](https://feature-282-confusion-around-ui-for-uploading-labels.d2e9l8xwkaodsq.amplifyapp.com) test version of Make Sense and let me know if it works :)

[2022-10-12 21:52] SkalskiP commented on #121
Does that problem still occur on Mac Books with M1?

[2022-10-13 07:27] JohannaSopraSteria commented on #281
Hi @SkalskiP :) Unfortunately I still get the "Inference failed" message :/ I'm still using the same model I sent you.

[2022-10-13 07:31] JohannaSopraSteria commented on #282
@SkalskiP Perhaps you could just change the text on the "Create labels list" button to "Go back". That way a user will know that they will return to the previous popup and loose their current list, which really is what happens.

[2022-10-13 07:49] SkalskiP commented on #281
Oh sorry, @JohannaSopraSteria it looks like I screwed up links...

Please take a look here: https://fix-281-support-for-yolov5-p6-models.d2e9l8xwkaodsq.amplifyapp.com/

[2022-10-13 07:51] JohannaSopraSteria commented on #281
Works perfectly 😁 Well done @SkalskiP !

[2022-10-13 07:55] SkalskiP commented on #282
Sure! Take a look here: https://feature-282-confusion-around-ui-for-uploading-labels.d2e9l8xwkaodsq.amplifyapp.com/ it is updated.

[2022-10-13 07:57] #281 closed, assigned to SkalskiP

[2022-10-13 07:58] JohannaSopraSteria commented on #282
Looks like this to me now:
![image](https://user-images.githubusercontent.com/114214074/195536913-28509ba6-6013-4341-8274-f0a1cbc5579c.png)
Is this updated?

[2022-10-13 08:01] SkalskiP commented on #281
This is great @JohannaSopraSteria! 🎉 I'm really happy we got it to work! Thank you very much for bringing that problem to my attention.

We are not yet ready to release the new version of Make Sense. So for now you can access the fixed editor here: https://develop.makesense.ai. It is our test instance.

[2022-10-13 08:11] SkalskiP commented on #282
@JohannaSopraSteria sorry it did not rebuild automatically for some reason. I did it manually. You can take a look.

[2022-10-13 08:39] JohannaSopraSteria commented on #282
@SkalskiP Looks good! 👍

[2022-10-13 09:32] SkalskiP commented on #282
Great! So I'm merging that to develop, and similarly to https://github.com/SkalskiP/make-sense/issues/281, in the near future, those changes will be available at https://develop.makesense.ai/.

As I said earlier. I fully intend to redesign the label names definition popups, but I have at least one new feature to finish before I do that.

[2022-10-18 02:39] 5starkarma commented on #156
d

[2022-10-18 05:16] SkalskiP commented on #156
Hi, @5starkarma I saw in my email that you originally posted I question about `.txt`. file. But now I see it is no longer here. Does that mean that you managed to solve that problem on your own? :)

[2022-10-18 15:24] 5starkarma commented on #156
Hi! Sorry about that! It wouldn't let me delete the comment!

No, I actually deleted the comment and responded on Reddit to a post you had made because I was unsure how active you were here. It says:

I tried adding a custom yolov5 model with the bin files and the json file but it is asking for a .txt labels file for classification labels. What format do I need to create this in? Would be nice if

[2022-10-19 08:17] SkalskiP commented on #156
Hi, @5starkarma 👋! I'm actually much more active on GitHub than on Reddit.

I'm still looking for a better way to define the class names list. Unfortunately YOLOv5 tensorflow.js export does not allow you to include a class list inside the model file. That's why we need to pass them in a separate file.

Here is the GH issue where I provide instructions on how to do it: https://github.com/SkalskiP/m

[2022-10-19 11:30] noatamir opened #285 "Exporting in YOLO format with new labels doesn't include labels.txt in the zip file"
**Describe the bug**
After modifying the annotations/labels for image(s) loaded in `YOLO `format. We exported them. In the process, new label(s) were added to the project. We noticed that the `zip` file only include the `.txt files` for each image, and not a new `label.txt` file with the new label names. This would mean we need to ask folks to manually generate the `labels.txt` file, which is erro

[2022-10-19 13:57] 5starkarma commented on #156
The way you do it actually works but, to improve your UX a small margin, it would be nice to see instructions on what format the classification list `labels.txt` has to be in. I figured it out but just a suggestion :)

[2022-10-19 14:57] Aurora1-max opened #286 "labels"
hello,i want to load a label file from my computer but failed,which called me that file has no label.why is it?

[2022-10-19 15:15] Aurora1-max commented on #286
Actually,my label file has 17 labels,but it reminds me " 0 labels".

[2022-10-19 17:08] SkalskiP commented on #285
Hi, @noatamir 👋! Thank you for your interest in Make Sense! **I agree.** We need to allow users to export `.txt` file with a class list. Let me try to evaluate how much work we will need to add this functionality. I want to:

- Inculcate `labels.txt` inside `.zip` file
- Allow for download of `labels.txt` from `Edit labels` popup

[2022-10-19 17:11] SkalskiP commented on #156
@5starkarma how about adding a page describing what you need to do in make-sense documentation, and including the link to the docks?

[2022-10-19 17:14] SkalskiP commented on #286
Hello, @Aurora1-max 👋! Thank you very much for your interest in Make Sense! I'm happy to help you out with that :) Could you upload your labels file here or send it to me over email?

[2022-10-19 18:09] 5starkarma commented on #156
@SkalskiP that would be a great idea. It seems #282 has a similar issue. Though mine is focused on uploading a custom model. Do you need me to update the docs? If so, would you mind linking me?

[2022-10-19 19:44] SkalskiP commented on #156
@5starkarma I already started to work on the docs update. It is something that I wanted to do for a long time, and right I'm motivated to do that. I will share the updated docs soon. I'm happy for you to review them if you will have time.

You are right. Your issue is not the only one related to the class names file. That's why I said that I'm unhappy with that solution. I frequently get issues an

[2022-10-19 21:12] SkalskiP commented on #222
`labels.txt` example: [labels.txt](https://github.com/SkalskiP/make-sense/files/9824406/labels.txt)

[2022-10-20 04:28] Aurora1-max commented on #286
No problem,Just like the following example:
//
ribbon_butterfly
Chinese_big_flat_spade
Chinese_elephant_wax_cicada
two_tailed_nymphal
cloud_spotted_white_striped_beetle
human_striped_lampworm
beautiful_moss_moth
oriental_arborvitae_moth
light_shouldered_star_beetle
lunar_scallop_moth
thorn_shouldered_predestined_stinkbug
Double_cedar_beetle
color_night_moth
//
  I used the "_" to separate my label

[2022-10-20 04:30] Aurora1-max commented on #286
In addition,i have accomplished some label task before by this way,but i don't know why it doesn't work recently

[2022-10-20 05:03] SkalskiP commented on #286
Hi, @Aurora1-max 👋! Could you just drag and drop the actual file into the comment here? :) It should allow you to just upload the whole file. Maybe there is something wrong with the actual file or some very unusual interaction with it, but it would be much, much easier for me to find it with actual file. 🙏

[2022-10-20 05:54] Aurora1-max commented on #286
Oh,sorry,it's my fault.
[label.txt](https://github.com/SkalskiP/make-sense/files/9826712/label.txt)
It suddenly dawned on me. Maybe I have imported too many tags at one time, as many as 97. This is probably the reason, because I just tried fewer tags and it succeeded.

[2022-10-20 06:10] SkalskiP commented on #286
@Aurora1-max No worries. I tested and managed to replicate the error. I need to take care of few things first. But I'll try to debug it today. :)

[2022-10-20 06:19] Aurora1-max commented on #286
Very thanks !!

[2022-10-20 14:15] SkalskiP commented on #286
Hi, @Aurora1-max 👋! I figured it out :) So the main problem is that your `labels.txt` file contains non-unique label names. It is not allowed, and that's why makesense.ai does not allow you to load.

On the other hand, I am definitely not satisfied with the way we handled the error. We should have simply said what the issue was so that the user could fix the problem on their own. For this reason,

[2022-10-20 15:13] Aurora1-max commented on #286
@SkalskiP  Yeah,that's cool.Thank you. I found the problem. I just tested it with the demo you provided and got a reminder. It's a great improvement. I will make good use of it and earnestly promote "Makesense" for you. Give the thumbs-up!!

[2022-10-20 17:19] SkalskiP commented on #286
@Aurora1-max I'm so happy you like it! And I'm super happy we made makesense.ai better today. 🚀 🎉

So just to wrap everything up. I just merged https://github.com/SkalskiP/make-sense/pull/288, into `develop`. This means that you will be able to access this and other unreleased features at develop.makesense.ai. It will stay there until the next release, which should come in a few weeks. Then it wil

[2022-10-20 17:19] #286 closed, assigned to SkalskiP

[2022-10-21 10:14] ajansenn commented on #271
I have loaded ~44,000 images and imported a COCO file with polygons.

My goal was to adjust the polygons in every image if they were incorrect (because they were auto-generated from a pre-trained model), and assign correct species labels.

While all the images and labels load perfectly fine, there is not option to save progress. When i periodically export the labels it only includes labels for the

[2022-10-21 16:57] SkalskiP commented on #271
Hi, @ajansenn! 👋 Thank you very much for your interest in makesense.ai, as well as for sharing details of your workflow. Let me try to answer your questions and concerns.

I must admit that makesense.ai originally was not intended to solve this kind of problem. I didn't expect, that a potential user would try to upload tens of thousands of images simultaneously into the editor. And I confess that

[2022-10-26 09:47] montmejat opened #289 "Docker fails to build"
**Describe the bug**
The Docker image fails to build.

[code]

**To Reproduce**
`docker build -t make_sense docker/`

**Expected behavior**
It builds without any errors :smile:

**Desktop (please complete the following information):**
 - OS: Linux

[2022-10-26 10:02] montmejat commented on #289
Building works when updating the Dockerfile with `FROM node:16.18.0`. However, I get "Unable to connect" in Firefox when connecting to IP:3000.

I have also tried:
[code]

I have the following versions:
[code]

[2022-10-26 12:42] SkalskiP commented on #289
Hi, @aurelien-m 👋 It looks like our Dockerfile and instructions are heavily outdated. 😱 Let me quickly fix that.

[2022-10-26 15:25] SkalskiP commented on #289
@aurelien-m sorry it took me so long. My changes are right now in the `develop` branch. Please try to test if it works for you. Make sure you follow the updated instructions in `README.md`.

[2022-10-26 16:53] montmejat commented on #289
@SkalskiP Thanks! No worries, it was not urgent for me, it works perfectly now.

I might have missed it but it doesn't look like Make Sense has an API or SDK of some sort? It would be nice to have one to be able to create projects and pre-annotate images in our custom pipelines.

I also have a suggestion, it's a bit slow for our (quite strange) use case. We're labeling very tiny objects (~ 50 px i

[2022-10-26 16:53] #289 closed, assigned to SkalskiP

[2022-10-26 17:38] SkalskiP commented on #289
@aurelien-m I'm glad that the problem was solved relatively quickly!

You can use YOLOv5 models to annotate images in Make Sense. Would that be helpful?

We can increase max zoom if you want to.

That is weird. Could you share with me an image example so that I could test it out on my machine?

[2022-10-27 09:12] montmejat commented on #289
I can't share any of our images, but this one is a pretty good example (6000 x 4000 pixels) of what we have:

![pexels-irina-iriser-1379636](https://user-images.githubusercontent.com/29719028/198239830-007bc044-0d97-437c-96da-206002d35e72.jpg)

Here's a comparison between Make Sense and Label Studio (even though the best would be to try it out yourself):

[Screencast from 10-27-2022 10 50 53 AM.we

[2022-10-27 17:49] SkalskiP commented on #289
This part of the editor was written quite a long time ago, and indeed it leaves much to be desired. For a long time I have been thinking of rewriting this functionality, but so far the community rarely reported problems, so I focused on other tasks. **One thing in particular that annoys me is that the zoom does not take place in the direction of the cursor, but rather towards the center of the pho

[2022-10-28 08:23] montmejat commented on #289
@SkalskiP Thanks for the video explanation and taking the time to reply! I'll open an issue today. I've also got a long 4-days week-end coming, I might take a look at the code :smile:

[2022-10-28 13:22] SkalskiP commented on #289
@aurelien-m sure! I'm always excited when people try to use makesense.ai. :D I know it is not perfect, but I'm surely trying to make it as good as possible.

[2022-10-28 15:29] montmejat opened #292 "Interface lagging with very high resolution images"
There are two issues that make labeling very high resolution images complicated (and especially for labeling small objects):

 * The scrolling direction is not controlled by the mouse.
 * The scrolling and moving when zoomed in is laggy.

You can find an example, with a video of what it looks like compared to Label Studio (which would be nice to have something similar) here: https://github.com/Ska

[2022-11-07 09:18] hardikdava opened #293 "Communicate between external server to get labels in AI suggestions"
**Is your feature request related to a problem? Please describe.**
Currently, makesense supports very few AI model support i.e. yolov5, ssd, etc. The main idea is to enable use of other models also like yolov7, yolox, etc

**Describe the solution you'd like**
It would be great if tool can make request to an external API that sends an image and get responses of prediction in makesense format. Then

[2022-11-07 12:50] titusfx opened #294 "Click on "Drop images or Click here to select them" do nothing"
**Describe the bug**
A clear and concise description of what the bug is.

I'm just trying to use the tool for the second time (in the past I used),

Click on "Drop images or Click here to select them" do nothing. Neither drag and drop one image.

**Screenshots**
![Screenshot from 2022-11-07 13-47-07](https://user-images.githubusercontent.com/1366004/200314740-bf22c015-9be0-4e16-8c5b-7332e559a8ad.p

[2022-11-07 12:56] titusfx commented on #294
It seems that is a bug related with Chrome version. I just tried the local and the online version on Chrome, and it didn't work.
I tried on Firefox (local and production versions) and it worked.

[2022-11-08 10:39] SkalskiP commented on #293
Hello @hardikdava 👋! Thank you very much for your interest in make-sense.

I absolutely love the idea! I was thinking about it some time ago, but now that it comes from the community I'll be much more motivated to make it happen.

I think that in order to deliver full solution and great experience for our users we would need to deliver example of a server that we could use for working demo. @hardi

[2022-11-08 10:43] SkalskiP commented on #294
Hello @titusfx 👋! Thank you for tour interest in our project! That is the first time that someone is letting us know about such problems. We will monitor the situation, but for now please try to use Firefox as it works for you.

[2022-11-08 10:46] SkalskiP commented on #246
Hi @santhoshnumberone and @rasyidf I have MacBook with M1 now. I installed make-sense locally without any problems. For that reason I'm closing this issue. If similar problems will happen once again in the future we will of course reopen :)

[2022-11-08 10:46] #246 closed

[2022-11-08 10:46] SkalskiP commented on #206
Hi @vahuja4, @jack-bgl and @rasyidf I have MacBook with M1 now. I installed make-sense locally without any problems. For that reason I'm closing this issue. If similar problems will happen once again in the future we will of course reopen :)

[2022-11-08 10:46] #206 closed

[2022-11-08 10:47] SkalskiP commented on #121
Hi @narulkargunjan, @kevkid and @blessdarah I have MacBook with M1 now. I installed make-sense locally without any problems. For that reason I'm closing this issue. If similar problems will happen once again in the future we will of course reopen :)

[2022-11-08 10:47] #121 closed

[2022-11-09 11:07] hardikdava commented on #293
Hello @SkalskiP, I can help you with an external server. Let me know how you want to proceed further.

[2022-11-11 08:53] SkalskiP commented on #293
Hi, @hardikdava! Sorry for being silent over last 2 days, but I was putting things in motion. I just invited you to new repository `make-sense-inference` that is not yet public. I asked my friend to help us out with it, he is a real PRO!

[2022-11-11 10:43] ajansenn commented on #271
Thanks for your reply! I appreciate what I’m trying to do is pushing the limitations of the tool. Saving to local storage would be a great solution, or connecting to a cloud container (Azure or AWS) would be good also.

Having that functionality with a web based annotation tool like makesense with no heavy setup or install would be a big boost to labeling productivity!

[2022-11-11 10:47] ajansenn commented on #292
Would also find this improvement valuable. I’m trying to label high resolution drone images (8500x6500 dimensions and ~30mb per image) with up to 1000 polygons per image. Haven’t found an annotation tool that doesn’t lag or eventually crash.

[2022-11-12 00:05] SkalskiP commented on #271
No worries @ajansenn 😎, I understand that. Like I said makesense.ai was originally written as simple front-end only annotation tool. With time it outgrew its original purpose, and now we need to invest time and effort into building new complicated functionalities.

Just right now we are adding the ability to use external inference server and we are even building our inference docker.

I'm sure tha

[2022-11-12 08:55] hardikdava commented on #293
Hi @SkalskiP, thank you for inviting me to the repository. I have experience with various object detectors specially on edge devices. I am happy to contribute which will help all computer vision community.

[2022-11-13 16:28] SkalskiP commented on #292
Hi, @ajansenn! 👋 That sounds like a massive project. I'm not sure anyone can provide you with an in-browser smooth experience. Have you considered cutting those images into smaller sections and annotating them separately?